@model Biblioteca

    <link rel="stylesheet" href="~/css/EstiloLibros.css">
    <link rel="stylesheet" href="~/css/EstiloBiblioteca.css">



    <div class="contenido">
        <!-- ?TARJETA DETALLES BIBLIOTECA -->
        <div class="detalle-biblioteca">
            @if (Model.IMAGEN == null)
            {
                <img src="~/imgs/ImgNull.jpg" alt="">
            }
            else
            {
            <img src="~/imgs/bibliotecas/@Model.IMAGEN" alt="">
            }
            <div class="textos-biblioteca">
                <p class="nombre">@Model.NOMBRE</p>
                <div class="separador"></div>
                <p class="direccion">@Model.DIRECCION</p>
                <div class="info">
                    @if (Model.TELEFONO != null)
                    {
                        <div>
                            <div>
                                <svg width="30" height="30" viewBox="0 0 512 512" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M91.773 1.555C78.476 4.778 69.411 11.704 41.944 39.622C19.372 62.567 16.622 65.814 11.148 76C-7.63 110.942 0.0119977 164.792 33.377 232.634C37.985 242.002 43.929 253.455 46.586 258.084C83.312 322.06 137.986 383.908 196.5 427.668C252.859 469.816 316.142 500.424 365 509.167C380.754 511.986 403.414 512.211 414.5 509.658C424.025 507.465 438.472 500.842 445.708 495.351C448.572 493.177 462.082 479.923 475.73 465.897C496.245 444.813 501.186 439.175 504.244 433.355C512.836 417.004 513.136 403.738 505.291 387C501.938 379.848 499.916 377.643 461.638 339.431C417.645 295.514 416.27 294.41 401.765 291.382C390.328 288.994 378.514 291.139 367.298 297.64C364.659 299.17 352.25 310.54 339.722 322.906L316.945 345.391L309.722 341.551C289.42 330.757 274.684 320.511 253.5 302.464C234.59 286.353 208.003 258.289 193.85 239.5C182.788 224.815 167 198.697 167 195.083C167 194.396 174.05 187.008 182.666 178.667C209.524 152.664 216.946 142.982 220.511 129.297C224.165 115.269 220.403 99.805 210.222 87C204.809 80.192 144.429 19.628 137 13.555C122.402 1.622 107.646 -2.293 91.773 1.555ZM95.698 27.444C89.063 29.81 84.682 33.625 60.794 57.838C39.973 78.941 37.049 82.311 33.762 89C23.439 110.005 24.942 138.317 38.478 177.823C66.713 260.228 135.608 350.819 214.003 408.623C257.159 440.443 308.511 467.436 346.837 478.447C366.2 484.009 374.88 485.351 392 485.429C418.592 485.551 422.599 483.293 456 449.368C482.237 422.72 484.5 419.554 484.5 409.5C484.5 405.156 483.845 402.219 482.127 398.859C478.966 392.676 408.346 322.128 402.29 319.103C396.82 316.371 389.001 316.363 383.004 319.083C379.813 320.531 371.546 328.031 354.504 344.941C341.302 358.041 328.925 369.56 327 370.539C324.971 371.57 321.142 372.351 317.891 372.397C312.886 372.468 310.945 371.79 299.891 366.11C269.223 350.35 238.722 326.953 209 296.389C178.853 265.388 160.563 240.961 146.702 213.191C141.349 202.464 140.509 200.008 140.175 194.093C139.901 189.251 140.243 186.431 141.365 184.261C142.23 182.588 153.711 170.482 166.878 157.36C193.023 131.302 195.373 128.144 195.419 119C195.47 108.675 194.063 106.894 154.589 67.311C124.536 37.173 117.58 30.695 113 28.57C106.891 25.737 101.472 25.384 95.698 27.444Z"
                                      fill="black" />
                                </svg>
                                <p>@Model.TELEFONO</p>
                            </div>
                        </div>
                    }
                    @if (Model.HORA_APERTURA != null && Model.HORA_CIERRE != null)
                    {
                        <div>
                            <div>
                                <svg width="512" height="512" viewBox="0 0 512 512" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_174_6)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M229 1.416C179.76 7.122 134.87 25.693 96 56.436C86.345 64.073 64.073 86.345 56.436 96C40.159 116.58 24.223 144.774 15.494 168.435C10.685 181.469 4.625 205.603 2.546 220C-6.234 280.782 8.373 345.45 42.373 396.332C54.205 414.038 60.647 421.827 76.419 437.5C96.278 457.233 114.827 470.804 139.196 483.431C194.923 512.305 259.915 519.493 320.693 503.503C338.793 498.742 350.471 494.343 368.606 485.456C419.099 460.713 460.71 419.105 485.449 368.622C494.343 350.471 498.741 338.797 503.503 320.693C507.207 306.614 510.987 283.967 510.995 275.809C510.998 273.229 511.45 270.84 512 270.5C512.599 270.13 512.994 263.59 512.985 254.191C512.974 243.691 512.649 238.996 512 240C511.302 241.079 511.025 240.098 511.011 236.5C510.952 221.846 503.732 188.064 496.395 168.115C487.959 145.179 471.639 116.347 455.574 96C447.492 85.764 424.382 62.913 413.885 54.779C376.853 26.081 334.152 8.115 288.5 2.024C275.302 0.263 241.892 -0.0779999 229 1.416ZM233 31.13C189.35 35.566 144.39 54.794 110 83.733C59.89 125.901 30 190.289 30 256.068C30 321.595 60.141 386.46 110 428.232C179.693 486.62 275.564 498.405 355.831 458.45C401.543 435.696 436.696 400.32 459.076 354.552C505.127 260.376 479.806 147.037 397.788 80.217C352.64 43.434 291.405 25.194 233 31.13ZM248.593 63.375C241.758 67.512 241.09 69.939 241.042 90.79C240.994 111.898 241.807 114.837 248.783 118.758C256.176 122.913 264.626 120.569 268.758 113.217C270.853 109.49 271 108.031 271 91C271 73.969 270.853 72.51 268.758 68.783C264.585 61.359 255.811 59.006 248.593 63.375ZM121.241 115.995C114.408 120.16 112.06 128.903 115.863 136.016C118.338 140.643 123.198 143.385 128.922 143.382C140.245 143.377 147.235 130.902 141.442 121.035C137.567 114.434 127.798 111.997 121.241 115.995ZM375.984 115.868C371.003 118.539 367.571 125.5 368.506 131.037C369.472 136.751 375.249 142.528 380.963 143.494C389.611 144.955 398.005 137.573 397.996 128.516C397.986 117.524 385.875 110.565 375.984 115.868ZM248.593 153.375C240.881 158.043 241.089 156.464 241.042 210.8C241.005 253.192 241.196 259.491 242.605 262.3C244.827 266.732 334.632 356.692 339.21 359.071C343.958 361.539 348.072 361.514 353.026 358.987C357.463 356.723 361 350.962 361 346C361 344.306 360.13 341.251 359.067 339.21C358.005 337.17 337.755 316.152 314.067 292.504L271 249.509V206.141C271 163.064 270.985 162.745 268.758 158.783C264.585 151.359 255.811 149.006 248.593 153.375ZM0.405 255.5C0.406 264.3 0.559 267.766 0.745 263.203C0.93 258.639 0.929 251.439 0.742 247.203C0.555 242.966 0.404 246.7 0.405 255.5ZM68.593 243.375C58.617 249.414 58.719 263.102 68.783 268.758C72.509 270.852 73.972 271 90.926 271C106.777 271 109.551 270.759 112.798 269.103C117.136 266.89 121 260.718 121 256C121 251.282 117.136 245.11 112.798 242.897C109.547 241.238 106.781 241.001 90.79 241.005C73.332 241.01 72.322 241.118 68.593 243.375ZM398.593 243.375C388.617 249.414 388.719 263.102 398.783 268.758C402.509 270.852 403.972 271 420.926 271C436.777 271 439.551 270.759 442.798 269.103C447.136 266.89 451 260.718 451 256C451 251.282 447.136 245.11 442.798 242.897C439.547 241.238 436.781 241.001 420.79 241.005C403.332 241.01 402.322 241.118 398.593 243.375ZM122.105 370.204C114.482 374.273 111.683 383.688 115.995 390.759C122.096 400.766 136.247 400.291 141.796 389.895C148.572 377.197 134.803 363.428 122.105 370.204ZM379.17 368.687C375.641 369.404 369.371 376.21 368.637 380.12C367.406 386.685 370.726 393.693 376.326 396.351C389.713 402.703 403.077 388.965 396.137 375.984C393.221 370.531 385.801 367.339 379.17 368.687ZM248.593 393.375C241.758 397.512 241.09 399.939 241.042 420.79C240.994 441.898 241.807 444.837 248.783 448.758C256.176 452.913 264.626 450.569 268.758 443.217C270.853 439.49 271 438.031 271 421C271 403.969 270.853 402.51 268.758 398.783C264.585 391.359 255.811 389.006 248.593 393.375Z"
                                          fill="black" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_174_6">
                                            <rect width="512" height="512" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <p>@Model.HORA_APERTURA.ToString("hh\\:mm") - @Model.HORA_CIERRE.ToString("hh\\:mm")</p>
                            </div>
                        </div>
                    }
                    @if (Model.WEB != null)
                    {
                        <div>
                            <div>
                                <svg width="512" height="512" viewBox="0 0 512 512" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_174_8)">
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M237 24.028C216.9 25.926 197.674 30.071 178.922 36.547C167.555 40.473 148.619 49.13 145.781 51.698C141.802 55.299 145.258 64 150.667 64C151.788 64 157.436 61.769 163.218 59.041C174.899 53.531 196.493 46.091 208 43.612C217.274 41.614 234.36 39.047 234.896 39.572C235.114 39.785 232.067 43.356 228.123 47.507C214.751 61.585 192.851 91.062 182.253 109.25L180.067 113H136.534C112.59 113 93 112.637 93 112.192C93 111.092 113.19 91.477 120 85.962C123.025 83.512 126.048 80.831 126.718 80.004C130.02 75.927 126.084 69 120.465 69C117.719 69 115.39 70.404 108.193 76.393C97.714 85.115 82.33 100.666 74.451 110.5C59.823 128.759 44.113 156.839 37.14 177.186L33.821 186.873L28.877 187.933C17.83 190.302 8.089 198.07 3.38 208.266L0.5 214.5V256V297.5L3.16 303.175C8.185 313.893 17.726 321.676 28.739 324.037L33.792 325.121L36.96 334.311C44.322 355.666 59.885 383.32 75.337 402.5C83.095 412.13 100.858 429.833 110.5 437.542C144.218 464.502 184.824 481.563 228.5 487.121C242.56 488.91 272.876 488.658 287.058 486.634C311.513 483.143 334.853 476.05 356.982 465.383C374.023 457.168 377 454.973 377 450.623C377 446.979 373.61 443 370.505 443C369.478 443 361.857 446.354 353.569 450.453C337.144 458.576 324.053 463.423 307.92 467.353C297.604 469.866 277.84 473.142 277.134 472.456C276.932 472.26 280.629 467.915 285.349 462.8C299.574 447.383 318.899 421.239 329.735 402.75L331.933 399H375.466C399.5 399 419 399.39 419 399.87C419 400.349 412.925 406.625 405.5 413.818C390.986 427.877 390.15 429.379 394.073 434.365C398.506 440.002 403.933 437.07 421.163 419.73C432.13 408.692 442.497 395.935 451.012 383C458.794 371.177 470.441 347.633 474.848 334.814L478.179 325.127L483.111 324.07C490.386 322.509 497.029 318.777 501.862 313.534C506.125 308.909 510.972 300.029 510.99 296.809C510.996 295.879 511.45 294.84 512 294.5C512.639 294.105 513 279.803 513 254.882C513 229.137 512.66 216.092 512 216.5C511.45 216.84 510.996 216.304 510.99 215.309C510.972 211.985 506.191 203.162 501.862 198.466C497.032 193.226 490.387 189.491 483.126 187.934L478.208 186.879L475.04 177.689C467.668 156.304 452.064 128.591 436.648 109.5C403.815 68.842 355.248 38.947 305 28.466C284.33 24.154 255.549 22.276 237 24.028ZM277 39.509C277 39.862 280.809 44.28 285.465 49.326C299.577 64.619 318.936 90.825 329.735 109.25L331.933 113H375.466C399.41 113 419 112.612 419 112.138C419 110.57 395.65 88.607 387.355 82.373C369.093 68.647 348.155 57.5 326.848 50.159C314.435 45.882 296.362 41.548 286.5 40.484C283.2 40.128 279.712 39.618 278.75 39.351C277.788 39.084 277 39.155 277 39.509ZM245.401 51.25C234.001 62.862 227 70.933 218.294 82.5C211.898 90.998 198 111.502 198 112.441C198 112.748 224.1 113 256 113C287.9 113 314 112.748 314 112.441C314 110.282 291.782 79.297 282.133 68C275.679 60.443 256.891 41 256.042 41C255.724 41 250.936 45.612 245.401 51.25ZM76.554 132.75C68.223 144.166 52.774 174.646 50.449 184.25L49.783 187H98.709H147.635L149.426 181.25C152.449 171.543 159.911 153.122 166.035 140.25L171.863 128H125.941H80.019L76.554 132.75ZM186.145 133.247C181.475 141.409 175.327 155.082 168.944 171.5L163.113 186.5L209.556 186.76C235.1 186.903 276.9 186.903 302.444 186.76L348.887 186.5L343.015 171.289C339.785 162.923 334.073 149.873 330.322 142.289L323.5 128.5L256.327 128.243L189.155 127.986L186.145 133.247ZM345.965 140.25C352.089 153.122 359.551 171.543 362.574 181.25L364.365 187H413.291H462.217L461.534 184.25C459.127 174.558 443.621 143.945 435.448 132.75L431.981 128H386.059H340.137L345.965 140.25ZM28.637 203.465C23.708 205.222 19.253 209.409 16.896 214.5C15.197 218.169 15.044 221.606 15.044 256C15.044 290.138 15.207 293.859 16.865 297.509C19.155 302.55 24.807 307.575 29.723 308.94C35.007 310.407 476.993 310.407 482.277 308.94C487.193 307.575 492.845 302.55 495.135 297.509C496.793 293.859 496.956 290.138 496.956 256C496.956 221.862 496.793 218.141 495.135 214.491C492.845 209.45 487.193 204.425 482.277 203.06C479.692 202.342 408.154 202.023 255.5 202.049C68.737 202.082 31.872 202.312 28.637 203.465ZM0.455 256C0.455 277.725 0.587 286.613 0.749 275.75C0.91 264.887 0.91 247.112 0.749 236.25C0.587 225.387 0.455 234.275 0.455 256ZM98.455 222.455C97.105 223.805 96.008 225.942 96.019 227.205C96.029 228.467 100.867 242.729 106.769 258.898C115.459 282.705 118.006 288.674 120.163 290.279C123.036 292.417 126.721 292.136 129.272 289.585C130.049 288.809 133.785 279.614 137.575 269.153C141.366 258.692 144.618 250.285 144.804 250.47C144.989 250.655 148.256 259.288 152.063 269.654C159.11 288.838 161.012 292 165.5 292C170.232 292 171.764 289.035 182.934 258.269C192.483 231.968 193.779 227.664 192.905 225.157C192.352 223.572 190.777 221.764 189.403 221.138C182.615 218.045 180.466 220.823 172.492 242.996C168.834 253.169 165.72 261.613 165.573 261.761C165.425 261.908 162.252 253.585 158.52 243.264C151.502 223.855 149.188 220 144.555 220C140.139 220 138.262 223.179 131.415 242.25C127.712 252.563 124.414 261 124.085 261C123.756 261 120.365 252.415 116.55 241.921C112.024 229.472 108.908 222.348 107.584 221.421C104.573 219.312 101.217 219.692 98.455 222.455ZM209.455 222.455C208.105 223.805 206.999 225.717 206.998 226.705C206.994 230.386 228.445 287.506 230.674 289.75C233.237 292.33 236.64 292.641 239.604 290.565C240.959 289.616 243.981 282.674 248.529 270.065C252.311 259.579 255.673 251 256 251C256.327 251 259.689 259.579 263.471 270.065C268.019 282.674 271.041 289.616 272.396 290.565C275.36 292.641 278.763 292.33 281.326 289.75C283.555 287.506 305.006 230.386 305.002 226.705C304.999 224.107 300.499 220 297.656 220C292.925 220 291.122 222.961 284.06 242.319C280.285 252.669 277.013 261.32 276.791 261.543C276.568 261.765 273.296 253.381 269.52 242.91C262.585 223.682 260.412 220 256 220C251.588 220 249.415 223.682 242.48 242.91C238.704 253.381 235.432 261.765 235.209 261.543C234.987 261.32 231.715 252.669 227.94 242.319C223.551 230.289 220.3 222.869 218.927 221.75C215.923 219.303 212.339 219.57 209.455 222.455ZM322.303 221.197C321.094 221.781 319.652 223.559 319.098 225.149C318.22 227.667 319.503 231.929 329.066 258.269C340.236 289.035 341.768 292 346.5 292C350.943 292 352.881 288.818 359.591 270.5C363.218 260.6 366.486 251.961 366.854 251.301C367.221 250.642 370.626 258.669 374.419 269.138C378.212 279.607 381.951 288.809 382.728 289.585C385.279 292.136 388.964 292.417 391.837 290.279C393.994 288.674 396.541 282.705 405.231 258.898C411.133 242.729 415.971 228.467 415.981 227.205C416.005 224.242 411.758 220 408.768 220C404.001 220 402.519 222.437 395.433 241.925C391.62 252.413 388.23 260.995 387.899 260.997C387.569 260.998 384.684 253.688 381.489 244.75C373.179 221.508 372.295 220 366.974 220C362.788 220 360.28 224.32 353.462 243.272C349.749 253.596 346.586 261.919 346.435 261.768C346.283 261.616 343.166 253.169 339.508 242.996C331.529 220.81 329.203 217.863 322.303 221.197ZM50.449 327.75C52.737 337.203 68.364 368.034 76.552 379.25L80.019 384H125.941H171.863L166.035 371.75C159.911 358.878 152.449 340.457 149.426 330.75L147.635 325H98.709H49.783L50.449 327.75ZM164.472 328.92C168.851 341.333 176.776 360.106 182.236 371L188.5 383.5H256H323.5L329.742 371C335.208 360.054 343.289 340.936 347.528 328.92L348.911 325H256H163.089L164.472 328.92ZM362.574 330.75C359.551 340.457 352.089 358.878 345.965 371.75L340.137 384L386.319 383.995L432.5 383.99L438.385 374.855C441.621 369.831 446.304 361.896 448.79 357.221C453.452 348.458 461.975 328.462 461.991 326.25C461.998 325.267 451.575 325 413.183 325H364.365L362.574 330.75ZM93 399.862C93 401.406 116.297 423.345 124.328 429.363C154.465 451.948 189.066 466.439 224.761 471.425C230.118 472.173 234.678 472.617 234.896 472.413C235.114 472.208 232.067 468.644 228.123 464.493C214.751 450.415 192.851 420.938 182.253 402.75L180.067 399H136.534C112.59 399 93 399.388 93 399.862ZM198 399.559C198 400.503 211.917 421.029 218.301 429.5C226.42 440.274 239.197 454.872 248.497 464L256.139 471.5L267.819 459.467C274.244 452.849 282.973 443.111 287.219 437.827C294.414 428.872 314 400.908 314 399.59C314 399.266 287.9 399 256 399C224.1 399 198 399.252 198 399.559Z"
                                          fill="black" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_174_8">
                                            <rect width="512" height="512" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                                <a href="@Model.WEB" target="_blank">Sitio Web</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="libros">
            <p>Libros</p>
            <!-- ?BUSCADOR -->
            <form method="post" >
                <div class="search">
                    <input type="number" name="id" value="@Model.ID_BIBLIOTECA" hidden/>
                    <input name="input" id="input" type="text" placeholder="Buscar" />
                    <select name="option" id="filtro">
                        <option value="T">Título</option>
                        <option value="A">Autor</option>
                    </select>
                    <button id="send-search">Buscar</button>
                </div>
            </form>
            <div class="leyenda">
                <div>
                    <p>Disponible:</p>
                    <div class="estado-libro-leyenda-verde"></div>
                </div>
                <div>
                    <p>No Disponible:</p>
                    <div class="estado-libro-leyenda-rojo"></div>
                </div>
            </div>
            <!-- ?LISTA LIBROS -->
            <div class="list-libros">
                @foreach (LibroDisponibilidad l in (List<LibroDisponibilidad>)ViewData["LISTALIBROS"])
                {
                    <div class="card-libro">
                        <div class="imagen-libro">
                            @if (l.IMAGEN == null)
                            {
                                <img src="~/imgs/ImgNull.jpg" alt="">
                            }
                            else
                            {
                                <img src="~/imgs/libros/@l.IMAGEN" alt="">
                            }
                            @if (l.DISPONIBLE == true)
                            {
                                <div class="estado-libro-verde" aria-readonly="true"></div>
                            }
                            else
                            {
                                <div class="estado-libro-rojo" aria-readonly="true"></div>
                            }
                        </div>
                        <div class="contenido-libro">
                            <div class="titulo-autor">
                                <p class="titulo-libro">@l.NOMBRE_LIBRO</p>
                                <p class="autor-libro">Autor: @l.NOMBRE_AUTOR</p>
                            </div>
                            <div class="separator-card"></div>
                            <div class="paginas-valoracion">
                                <p class="n-paginas">Paginas: @l.NUM_PAGINAS</p>
                                <div class="valoracion">
                                    <svg width="512" height="492" viewBox="0 0 512 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M247.5 0.976C236.815 3.335 226.725 9.054 220.365 16.355C218.081 18.978 207.073 40.083 190.381 73.841C175.876 103.178 163.114 128.435 162.023 129.967C160.932 131.5 158.496 133.486 156.609 134.381C154.533 135.366 130.016 139.382 94.486 144.557C57.595 149.93 33.842 153.836 30.541 155.071C2.407 165.597 -8.64 200.065 8.047 225.257C9.703 227.758 30.058 248.286 53.279 270.874C76.501 293.463 96.135 312.966 96.91 314.215C100.359 319.768 100.16 321.665 89.861 381.426C81.313 431.032 79.917 440.667 80.287 447.5C81.323 466.615 93.338 482.43 111.898 489.112C117.154 491.003 120.335 491.464 127.5 491.371C139.087 491.22 141.693 490.205 173.33 473.528C259.657 428.018 253.489 430.924 259.75 432.818C261.813 433.441 286.225 445.895 314 460.493C341.775 475.09 366.975 487.983 370 489.144C378.167 492.277 391.348 492.263 400.102 489.112C413.394 484.326 424.191 473.956 429.033 461.324C433.503 449.663 433.22 446.405 422.077 381.343C412.302 324.266 411.998 322.035 413.419 317.911C414.632 314.391 419.882 308.79 443.196 286.148C497.531 233.377 503.547 227.133 506.949 219.978C508.643 216.415 510.307 211.803 510.646 209.728C510.985 207.653 511.654 205.714 512.131 205.419C512.609 205.124 513 201.957 513 198.382C513 194.807 512.6 192.129 512.112 192.431C511.624 192.733 510.925 190.983 510.559 188.543C508.812 176.896 497.935 163.03 485.909 157.121C478.081 153.274 477.825 153.228 410.933 143.544C382.572 139.437 358.497 135.762 357.433 135.376C351.008 133.044 350.134 131.553 323.308 77.157C308.801 47.743 295.288 21.436 293.278 18.697C288.499 12.187 279.613 5.73 271.777 3.074C264.617 0.647001 253.386 -0.323 247.5 0.976ZM250.604 31.038C244.347 32.911 242.203 36.554 215.019 91.5C186.268 149.615 184.882 151.889 173.845 159.022C170.725 161.038 165.546 163.41 162.336 164.292C159.126 165.175 137.375 168.654 114 172.024C43.026 182.256 41.276 182.556 37.422 185.165C33.34 187.927 30 194.224 30 199.158C30 201.098 31.013 204.524 32.25 206.771C33.568 209.165 51.946 227.848 76.627 251.886C99.798 274.452 120.138 295.003 121.828 297.554C126.533 304.657 129.27 314.02 129.24 322.905C129.223 327.886 125.909 349.592 119.607 385.979C114.323 416.493 110 443.178 110 445.279C110 455.352 121.326 464.033 130.75 461.182C132.813 460.559 157.225 448.105 185 433.507C212.775 418.91 237.975 406.01 241 404.842C248.855 401.808 263.244 401.849 271.244 404.928C274.403 406.144 299.603 419.045 327.244 433.597C354.885 448.149 379.188 460.564 381.25 461.186C390.674 464.027 402 455.35 402 445.289C402 443.193 397.675 416.508 392.389 385.989C386.066 349.481 382.771 327.902 382.756 322.905C382.73 314.031 385.47 304.653 390.153 297.583C391.833 295.047 412.173 274.504 435.354 251.933C460.343 227.599 478.416 209.223 479.75 206.789C482.626 201.543 482.604 196.458 479.682 190.932C475.579 183.172 475.235 183.086 412 173.997C380.925 169.531 352.874 165.159 349.664 164.282C346.454 163.405 341.279 161.032 338.164 159.008C326.86 151.662 325.826 149.97 297.011 91.64C279.293 55.774 269.267 36.565 267.307 34.73C262.774 30.486 256.837 29.173 250.604 31.038ZM0.328 199.5C0.333 203.35 0.513 204.802 0.73 202.728C0.946 200.653 0.943 197.503 0.722 195.728C0.501 193.952 0.324 195.65 0.328 199.5Z" fill="black" />
                                    </svg>
                                    <p>@l.VALORACION_MEDIA</p>
                                </div>
                            </div>
                        </div>
                        <div class="info-libro">
                            <a asp-action="DetailsLibro" asp-controller="Libros" asp-route-id="@l.ID_LIBRO">
                                <svg width="231" height="231" viewBox="0 0 231 231" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M115.837 230.313C52.3135 230.313 0.680664 178.68 0.680664 115.156C0.680664 51.6329 52.3135 0 115.837 0C179.36 0 230.993 51.6329 230.993 115.156C230.993 178.68 179.36 230.313 115.837 230.313ZM115.837 16.0683C61.2046 16.0683 16.749 60.524 16.749 115.156C16.749 169.789 61.2046 214.244 115.837 214.244C170.469 214.244 214.925 169.789 214.925 115.156C214.925 60.524 170.469 16.0683 115.837 16.0683Z" fill="black" />
                                    <path d="M102.336 161.007C100.301 161.007 98.2654 160.257 96.6586 158.65C93.552 155.543 93.552 150.402 96.6586 147.295L128.795 115.158L96.6586 83.0213C93.552 79.9147 93.552 74.7729 96.6586 71.6663C99.7651 68.5598 104.907 68.5598 108.014 71.6663L145.828 109.481C148.934 112.587 148.934 117.729 145.828 120.836L108.014 158.65C106.407 160.257 104.371 161.007 102.336 161.007Z" fill="black" />
                                </svg>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>


<style>
    form {
        width: 100% !important;
        height: fit-content !important;
        /*margin-top:40px;*/
        background-color: transparent;
    }
</style>