@model Libro

@{
    List<Comentario> comentarios = ViewData["COMENTARIOS"] as List<Comentario>;
    List<BibliotecaSimple> biblios = ViewData["BIBLIOTECAS"] as List<BibliotecaSimple>;
    var dni = ViewData["DNI"] as string ?? "";
}

<link rel="stylesheet" href="~/css/EstiloLibros.css">
<link href="~/lib/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="imagen-fondo-libro">
    @if (Model.IMAGEN != null)
    {
        <img src="~/imgs/libros/@Model.IMAGEN" alt="Imagen de fondo" style="z-index:0 !important;">
    }
    <div class="degradado" style="z-index:1 !important;"></div>
    <div class="contenido-libro-biblio" style="z-index:2 !important;">
        @if ((int)ViewData["LISTADESEOS"] != -2)
        {
            <div class="grpBtns">
                @if ((int)ViewData["LISTADESEOS"] == -1)
                {
                    <div class="favBtnDiv">
                        <svg class="favBtn" width="221" height="221" viewBox="0 0 221 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.7272 0.258206C25.6914 0.679087 22.2007 1.81425 18.7204 3.5124C12.0347 6.77538 7.03544 11.78 3.69068 18.5584C0.0661526 25.9043 0.374694 17.6836 0.374694 106.956C0.374694 196.219 0.06657 188 3.68651 195.353C7.86892 203.849 15.467 210.128 24.9746 212.945C27.1982 213.605 29.9259 213.704 49.5221 213.843L115.392 214L117.635 212.9C120.249 211.618 121.942 209.176 122.276 206.204C122.589 203.419 120.85 200.106 118.281 198.592L116.332 197.443L51.0339 197.22C27.0994 196.971 27.7865 197.053 23.7338 193.981C20.8694 191.809 18.6512 188.74 17.671 185.592C16.8592 182.984 16.8442 181.553 16.8442 106.956C16.8442 32.3584 16.8592 30.9277 17.671 28.3197C19.0777 23.8016 23.2247 19.3713 27.6848 17.6226C29.4356 16.9359 33.1718 16.8782 83.5559 16.762C132.882 16.6479 137.777 16.6972 140.169 17.3338C145.328 18.7076 149.556 22.5043 151.668 27.6618C152.556 29.831 152.562 30.0856 152.769 72.8925C152.958 85.3457 153.042 106.984 153.668 108.121C155.123 110.765 158.053 112.517 160.991 112.5C164.416 112.48 168.13 109.592 169.028 106.25C169.339 105.09 169.436 73.971 169.345 70.9118C169.221 30.9119 169.163 27.997 168.445 25.4546C165.371 14.5652 158.121 6.3428 148.025 2.29365C142.04 -0.106251 143.726 -0.046065 84.4573 0.0220616C54.4937 0.056334 29.4151 0.162495 28.7272 0.258206ZM38.5284 50.7798C31.7851 53.7113 31.8434 63.346 38.6222 66.1852C39.9839 66.7557 45.4326 66.8309 84.6891 66.823C126.853 66.8142 129.3 66.7737 130.883 66.0527C133.708 64.7658 136.087 61.3022 136.087 58.4731C136.087 55.6439 133.708 52.1803 130.883 50.8935C129.299 50.1725 126.869 50.1328 84.5982 50.1395C45.679 50.1457 39.7988 50.2277 38.5284 50.7798ZM38.5284 84.2162C31.7851 87.1477 31.8434 96.7824 38.6222 99.6216C39.9839 100.192 45.4326 100.267 84.6891 100.259C126.853 100.251 129.3 100.21 130.883 99.4891C133.708 98.2022 136.087 94.7386 136.087 91.9095C136.087 89.0803 133.708 85.6167 130.883 84.3299C129.299 83.6089 126.869 83.5692 84.5982 83.5759C45.679 83.5821 39.7988 83.6641 38.5284 84.2162ZM38.5284 117.653C31.7851 120.584 31.8434 130.219 38.6222 133.058C39.9539 133.616 43.4008 133.705 63.69 133.705H87.2133L89.4353 132.541C91.2344 131.599 91.879 130.953 92.8188 129.15C94.3015 126.304 94.3015 124.387 92.8188 121.542C91.879 119.739 91.2344 119.092 89.4353 118.15L87.2133 116.987L63.5991 117.003C43.4509 117.017 39.7709 117.113 38.5284 117.653Z" fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M142.835 209.217L144.243 210.297C148.638 213.665 158.017 219.697 159.209 219.922C161.629 220.378 163.22 219.755 168.534 216.266C192.676 200.416 207.294 185.783 214.881 169.87C221.28 156.447 221.706 144.066 216.153 132.884C212.655 125.839 207.195 120.371 200.085 116.794C194.261 113.864 189.573 112.856 182.975 113.116C174.95 113.431 168.929 115.83 163.455 120.891L161.045 123.118L157.806 120.368C151.264 114.814 145.026 112.492 136.671 112.5C132.5 112.504 131.072 112.686 128.011 113.603C124.089 114.776 121.081 116.164 118.284 118.092L116.544 119.29C110.527 124.242 108.03 127.592 105.261 134.743C104.021 137.071 103.043 143.05 103.033 148.359C103.027 151.35 103.128 155.035 103.298 155.553C103.946 161.882 105.438 165.208 108.32 170.527L110.634 174.619C113.572 179.813 117.971 185.816 122.276 190.506C124.127 192.522 125.642 194.263 125.642 194.375C132.001 200.67 135.779 203.932 142.835 209.217ZM153.871 138.948C150.3 132.424 146.286 128.891 140.818 127.46C136.637 126.365 133.633 126.756 129.285 128.962C125.662 130.799 121.172 135.399 119.451 139.036C113.787 151.012 120.023 167.556 136.457 184.151C142.778 190.534 149.57 196.225 157.365 201.672L160.581 203.918L164.232 201.485C185.711 187.173 199.473 172.085 204.104 157.77C205.675 152.917 205.79 146.399 204.379 142.249C202.029 135.336 196.752 130.356 189.57 128.273C185.84 127.191 180.294 127.555 177.104 129.092C173.617 130.772 170.674 133.915 168.606 138.169C166.712 142.067 166.09 142.791 163.825 143.743C161.697 144.636 159.846 144.546 157.673 143.445C156.097 142.645 155.524 141.968 153.871 138.948Z" fill="black" />
                            <path d="M140.818 127.46C146.286 128.891 150.3 132.424 153.871 138.948C155.524 141.968 156.097 142.645 157.673 143.445C159.846 144.546 161.697 144.636 163.825 143.743C166.09 142.791 166.712 142.067 168.606 138.169C170.674 133.915 173.617 130.772 177.104 129.092C180.294 127.555 185.84 127.191 189.57 128.273C196.752 130.356 202.029 135.336 204.379 142.249C205.79 146.399 205.675 152.917 204.104 157.77C199.473 172.085 185.711 187.173 164.232 201.485L160.581 203.918L157.365 201.672C149.57 196.225 142.778 190.534 136.457 184.151C120.023 167.556 113.787 151.012 119.451 139.036C121.172 135.399 125.662 130.799 129.285 128.962C133.633 126.756 136.637 126.365 140.818 127.46Z" fill="#FF0000" />
                        </svg>
                    </div>
                    <div class="leidoBtnDiv">
                        <svg class="leidoBtn" width="192" height="214" viewBox="0 0 192 214" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.0734 0.258206C26.0376 0.679087 22.5469 1.81425 19.0666 3.5124C12.3808 6.77538 7.38163 11.78 4.03688 18.5584C0.412344 25.9043 0.720886 17.6836 0.720886 106.956C0.720886 196.219 0.412761 188 4.03271 195.353C8.21511 203.849 15.8132 210.128 25.3208 212.945C27.5444 213.605 30.2721 213.704 49.8682 213.843L71.9135 214L74.1559 212.9C76.7706 211.618 78.4634 209.176 78.7974 206.204C79.1105 203.419 77.3718 200.106 74.8026 198.592L72.8529 197.443L51.3801 197.22C27.4456 196.971 28.1327 197.053 24.08 193.981C21.2156 191.809 18.9974 188.74 18.0172 185.592C17.2054 182.984 17.1903 181.553 17.1903 106.956C17.1903 32.3584 17.2054 30.9277 18.0172 28.3197C19.4239 23.8016 23.5709 19.3713 28.031 17.6226C29.7818 16.9359 33.518 16.8782 83.9021 16.762C133.228 16.6479 138.123 16.6972 140.515 17.3338C145.675 18.7076 149.902 22.5043 152.014 27.6618C152.902 29.831 152.908 30.0856 153.115 72.8925C153.304 111.921 153.389 116.059 154.014 117.196C155.469 119.84 158.399 121.592 161.337 121.575C164.762 121.555 168.476 118.667 169.374 115.325C169.685 114.165 169.783 100.546 169.691 70.9118C169.567 30.9119 169.509 27.997 168.791 25.4546C165.717 14.5652 158.467 6.3428 148.371 2.29365C142.386 -0.106251 144.072 -0.046065 84.8035 0.0220616C54.8399 0.056334 29.7613 0.162495 29.0734 0.258206ZM38.8746 50.7798C32.1313 53.7113 32.1896 63.346 38.9684 66.1852C40.3301 66.7557 45.7788 66.8309 85.0353 66.823C127.199 66.8142 129.646 66.7737 131.229 66.0527C134.055 64.7658 136.433 61.3022 136.433 58.4731C136.433 55.6439 134.055 52.1803 131.229 50.8935C129.645 50.1725 127.215 50.1328 84.9444 50.1395C46.0252 50.1457 40.145 50.2277 38.8746 50.7798ZM38.8746 84.2162C32.1313 87.1477 32.1896 96.7824 38.9684 99.6216C40.3301 100.192 45.7788 100.267 85.0353 100.259C127.199 100.251 129.646 100.21 131.229 99.4891C134.055 98.2022 136.433 94.7386 136.433 91.9095C136.433 89.0803 134.055 85.6167 131.229 84.3299C129.645 83.6089 127.215 83.5692 84.9444 83.5759C46.0252 83.5821 40.145 83.6641 38.8746 84.2162ZM38.8746 117.653C32.1313 120.584 32.1896 130.219 38.9684 133.058C40.3001 133.616 43.747 133.705 64.0361 133.705H87.5595L89.7814 132.541C91.5806 131.599 92.2252 130.953 93.165 129.15C94.6477 126.304 94.6477 124.387 93.165 121.542C92.2252 119.739 91.5806 119.092 89.7814 118.15L87.5595 116.987L63.9453 117.003C43.7971 117.017 40.1171 117.113 38.8746 117.653ZM126.735 133.472C115.589 135.45 105.079 141.002 94.4154 150.543C88.0332 156.253 78.7936 166.962 77.4335 170.226C76.6426 172.123 76.6426 174.698 77.4335 176.596C78.7398 179.73 87.6725 190.152 93.9088 195.818C119.424 219 146.036 219.891 171.67 198.421C178.194 192.956 187.734 182.453 190.555 177.628C192.101 174.983 192.101 171.839 190.555 169.194C187.734 164.369 178.194 153.865 171.67 148.4C163.008 141.146 154.466 136.556 145.402 134.287C140.167 132.977 131.624 132.604 126.735 133.472ZM142.692 150.841C147.294 152.151 152.874 155.087 157.762 158.771C161.887 161.88 172.712 172.48 172.712 173.411C172.712 173.655 170.32 176.317 167.396 179.326C147.549 199.75 130.393 202.461 110.931 188.248C107.465 185.717 98.0312 176.675 96.6465 174.556C95.9285 173.458 95.9285 173.364 96.6377 172.278C98.0383 170.136 107.477 161.077 110.918 158.573C117.143 154.044 123.166 151.223 129.141 150.039C132.298 149.413 139.087 149.815 142.692 150.841ZM130.906 157.983C126.672 158.983 122.243 162.692 120.332 166.84C119.278 169.128 119.134 169.919 119.134 173.419C119.134 177.062 119.248 177.632 120.486 180.151C124.01 187.326 131.813 190.813 139.201 188.514C151.58 184.662 154.502 168.948 144.337 160.894C140.792 158.084 135.413 156.919 130.906 157.983Z" fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M142.692 150.841C147.294 152.151 152.874 155.087 157.762 158.771C161.887 161.88 172.712 172.48 172.712 173.411C172.712 173.655 170.32 176.317 167.396 179.326C147.549 199.75 130.393 202.461 110.931 188.248C107.465 185.717 98.0312 176.675 96.6465 174.556C95.9285 173.458 95.9285 173.364 96.6377 172.278C98.0383 170.136 107.477 161.077 110.918 158.573C117.143 154.044 123.166 151.223 129.141 150.039C132.298 149.413 139.087 149.815 142.692 150.841ZM120.332 166.84C122.243 162.692 126.672 158.983 130.906 157.983C135.413 156.919 140.792 158.084 144.337 160.894C154.502 168.948 151.58 184.662 139.201 188.514C131.813 190.813 124.01 187.326 120.486 180.151C119.248 177.632 119.134 177.062 119.134 173.419C119.134 169.919 119.278 169.128 120.332 166.84Z" fill="#24FF00" />
                        </svg>
                    </div>

                }
                @if ((int)ViewData["LISTADESEOS"] == 0)
                {
                    <div class="favBtnDiv">
                        <svg class="favBtn favBtnLike" width="221" height="221" viewBox="0 0 221 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.7272 0.258206C25.6914 0.679087 22.2007 1.81425 18.7204 3.5124C12.0347 6.77538 7.03544 11.78 3.69068 18.5584C0.0661526 25.9043 0.374694 17.6836 0.374694 106.956C0.374694 196.219 0.06657 188 3.68651 195.353C7.86892 203.849 15.467 210.128 24.9746 212.945C27.1982 213.605 29.9259 213.704 49.5221 213.843L115.392 214L117.635 212.9C120.249 211.618 121.942 209.176 122.276 206.204C122.589 203.419 120.85 200.106 118.281 198.592L116.332 197.443L51.0339 197.22C27.0994 196.971 27.7865 197.053 23.7338 193.981C20.8694 191.809 18.6512 188.74 17.671 185.592C16.8592 182.984 16.8442 181.553 16.8442 106.956C16.8442 32.3584 16.8592 30.9277 17.671 28.3197C19.0777 23.8016 23.2247 19.3713 27.6848 17.6226C29.4356 16.9359 33.1718 16.8782 83.5559 16.762C132.882 16.6479 137.777 16.6972 140.169 17.3338C145.328 18.7076 149.556 22.5043 151.668 27.6618C152.556 29.831 152.562 30.0856 152.769 72.8925C152.958 85.3457 153.042 106.984 153.668 108.121C155.123 110.765 158.053 112.517 160.991 112.5C164.416 112.48 168.13 109.592 169.028 106.25C169.339 105.09 169.436 73.971 169.345 70.9118C169.221 30.9119 169.163 27.997 168.445 25.4546C165.371 14.5652 158.121 6.3428 148.025 2.29365C142.04 -0.106251 143.726 -0.046065 84.4573 0.0220616C54.4937 0.056334 29.4151 0.162495 28.7272 0.258206ZM38.5284 50.7798C31.7851 53.7113 31.8434 63.346 38.6222 66.1852C39.9839 66.7557 45.4326 66.8309 84.6891 66.823C126.853 66.8142 129.3 66.7737 130.883 66.0527C133.708 64.7658 136.087 61.3022 136.087 58.4731C136.087 55.6439 133.708 52.1803 130.883 50.8935C129.299 50.1725 126.869 50.1328 84.5982 50.1395C45.679 50.1457 39.7988 50.2277 38.5284 50.7798ZM38.5284 84.2162C31.7851 87.1477 31.8434 96.7824 38.6222 99.6216C39.9839 100.192 45.4326 100.267 84.6891 100.259C126.853 100.251 129.3 100.21 130.883 99.4891C133.708 98.2022 136.087 94.7386 136.087 91.9095C136.087 89.0803 133.708 85.6167 130.883 84.3299C129.299 83.6089 126.869 83.5692 84.5982 83.5759C45.679 83.5821 39.7988 83.6641 38.5284 84.2162ZM38.5284 117.653C31.7851 120.584 31.8434 130.219 38.6222 133.058C39.9539 133.616 43.4008 133.705 63.69 133.705H87.2133L89.4353 132.541C91.2344 131.599 91.879 130.953 92.8188 129.15C94.3015 126.304 94.3015 124.387 92.8188 121.542C91.879 119.739 91.2344 119.092 89.4353 118.15L87.2133 116.987L63.5991 117.003C43.4509 117.017 39.7709 117.113 38.5284 117.653Z" fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M142.835 209.217L144.243 210.297C148.638 213.665 158.017 219.697 159.209 219.922C161.629 220.378 163.22 219.755 168.534 216.266C192.676 200.416 207.294 185.783 214.881 169.87C221.28 156.447 221.706 144.066 216.153 132.884C212.655 125.839 207.195 120.371 200.085 116.794C194.261 113.864 189.573 112.856 182.975 113.116C174.95 113.431 168.929 115.83 163.455 120.891L161.045 123.118L157.806 120.368C151.264 114.814 145.026 112.492 136.671 112.5C132.5 112.504 131.072 112.686 128.011 113.603C124.089 114.776 121.081 116.164 118.284 118.092L116.544 119.29C110.527 124.242 108.03 127.592 105.261 134.743C104.021 137.071 103.043 143.05 103.033 148.359C103.027 151.35 103.128 155.035 103.298 155.553C103.946 161.882 105.438 165.208 108.32 170.527L110.634 174.619C113.572 179.813 117.971 185.816 122.276 190.506C124.127 192.522 125.642 194.263 125.642 194.375C132.001 200.67 135.779 203.932 142.835 209.217ZM153.871 138.948C150.3 132.424 146.286 128.891 140.818 127.46C136.637 126.365 133.633 126.756 129.285 128.962C125.662 130.799 121.172 135.399 119.451 139.036C113.787 151.012 120.023 167.556 136.457 184.151C142.778 190.534 149.57 196.225 157.365 201.672L160.581 203.918L164.232 201.485C185.711 187.173 199.473 172.085 204.104 157.77C205.675 152.917 205.79 146.399 204.379 142.249C202.029 135.336 196.752 130.356 189.57 128.273C185.84 127.191 180.294 127.555 177.104 129.092C173.617 130.772 170.674 133.915 168.606 138.169C166.712 142.067 166.09 142.791 163.825 143.743C161.697 144.636 159.846 144.546 157.673 143.445C156.097 142.645 155.524 141.968 153.871 138.948Z" fill="black" />
                            <path d="M140.818 127.46C146.286 128.891 150.3 132.424 153.871 138.948C155.524 141.968 156.097 142.645 157.673 143.445C159.846 144.546 161.697 144.636 163.825 143.743C166.09 142.791 166.712 142.067 168.606 138.169C170.674 133.915 173.617 130.772 177.104 129.092C180.294 127.555 185.84 127.191 189.57 128.273C196.752 130.356 202.029 135.336 204.379 142.249C205.79 146.399 205.675 152.917 204.104 157.77C199.473 172.085 185.711 187.173 164.232 201.485L160.581 203.918L157.365 201.672C149.57 196.225 142.778 190.534 136.457 184.151C120.023 167.556 113.787 151.012 119.451 139.036C121.172 135.399 125.662 130.799 129.285 128.962C133.633 126.756 136.637 126.365 140.818 127.46Z" fill="#FF0000" />
                        </svg>
                    </div>
                    <div class="leidoBtnDiv">
                        <svg class="leidoBtn" width="192" height="214" viewBox="0 0 192 214" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.0734 0.258206C26.0376 0.679087 22.5469 1.81425 19.0666 3.5124C12.3808 6.77538 7.38163 11.78 4.03688 18.5584C0.412344 25.9043 0.720886 17.6836 0.720886 106.956C0.720886 196.219 0.412761 188 4.03271 195.353C8.21511 203.849 15.8132 210.128 25.3208 212.945C27.5444 213.605 30.2721 213.704 49.8682 213.843L71.9135 214L74.1559 212.9C76.7706 211.618 78.4634 209.176 78.7974 206.204C79.1105 203.419 77.3718 200.106 74.8026 198.592L72.8529 197.443L51.3801 197.22C27.4456 196.971 28.1327 197.053 24.08 193.981C21.2156 191.809 18.9974 188.74 18.0172 185.592C17.2054 182.984 17.1903 181.553 17.1903 106.956C17.1903 32.3584 17.2054 30.9277 18.0172 28.3197C19.4239 23.8016 23.5709 19.3713 28.031 17.6226C29.7818 16.9359 33.518 16.8782 83.9021 16.762C133.228 16.6479 138.123 16.6972 140.515 17.3338C145.675 18.7076 149.902 22.5043 152.014 27.6618C152.902 29.831 152.908 30.0856 153.115 72.8925C153.304 111.921 153.389 116.059 154.014 117.196C155.469 119.84 158.399 121.592 161.337 121.575C164.762 121.555 168.476 118.667 169.374 115.325C169.685 114.165 169.783 100.546 169.691 70.9118C169.567 30.9119 169.509 27.997 168.791 25.4546C165.717 14.5652 158.467 6.3428 148.371 2.29365C142.386 -0.106251 144.072 -0.046065 84.8035 0.0220616C54.8399 0.056334 29.7613 0.162495 29.0734 0.258206ZM38.8746 50.7798C32.1313 53.7113 32.1896 63.346 38.9684 66.1852C40.3301 66.7557 45.7788 66.8309 85.0353 66.823C127.199 66.8142 129.646 66.7737 131.229 66.0527C134.055 64.7658 136.433 61.3022 136.433 58.4731C136.433 55.6439 134.055 52.1803 131.229 50.8935C129.645 50.1725 127.215 50.1328 84.9444 50.1395C46.0252 50.1457 40.145 50.2277 38.8746 50.7798ZM38.8746 84.2162C32.1313 87.1477 32.1896 96.7824 38.9684 99.6216C40.3301 100.192 45.7788 100.267 85.0353 100.259C127.199 100.251 129.646 100.21 131.229 99.4891C134.055 98.2022 136.433 94.7386 136.433 91.9095C136.433 89.0803 134.055 85.6167 131.229 84.3299C129.645 83.6089 127.215 83.5692 84.9444 83.5759C46.0252 83.5821 40.145 83.6641 38.8746 84.2162ZM38.8746 117.653C32.1313 120.584 32.1896 130.219 38.9684 133.058C40.3001 133.616 43.747 133.705 64.0361 133.705H87.5595L89.7814 132.541C91.5806 131.599 92.2252 130.953 93.165 129.15C94.6477 126.304 94.6477 124.387 93.165 121.542C92.2252 119.739 91.5806 119.092 89.7814 118.15L87.5595 116.987L63.9453 117.003C43.7971 117.017 40.1171 117.113 38.8746 117.653ZM126.735 133.472C115.589 135.45 105.079 141.002 94.4154 150.543C88.0332 156.253 78.7936 166.962 77.4335 170.226C76.6426 172.123 76.6426 174.698 77.4335 176.596C78.7398 179.73 87.6725 190.152 93.9088 195.818C119.424 219 146.036 219.891 171.67 198.421C178.194 192.956 187.734 182.453 190.555 177.628C192.101 174.983 192.101 171.839 190.555 169.194C187.734 164.369 178.194 153.865 171.67 148.4C163.008 141.146 154.466 136.556 145.402 134.287C140.167 132.977 131.624 132.604 126.735 133.472ZM142.692 150.841C147.294 152.151 152.874 155.087 157.762 158.771C161.887 161.88 172.712 172.48 172.712 173.411C172.712 173.655 170.32 176.317 167.396 179.326C147.549 199.75 130.393 202.461 110.931 188.248C107.465 185.717 98.0312 176.675 96.6465 174.556C95.9285 173.458 95.9285 173.364 96.6377 172.278C98.0383 170.136 107.477 161.077 110.918 158.573C117.143 154.044 123.166 151.223 129.141 150.039C132.298 149.413 139.087 149.815 142.692 150.841ZM130.906 157.983C126.672 158.983 122.243 162.692 120.332 166.84C119.278 169.128 119.134 169.919 119.134 173.419C119.134 177.062 119.248 177.632 120.486 180.151C124.01 187.326 131.813 190.813 139.201 188.514C151.58 184.662 154.502 168.948 144.337 160.894C140.792 158.084 135.413 156.919 130.906 157.983Z" fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M142.692 150.841C147.294 152.151 152.874 155.087 157.762 158.771C161.887 161.88 172.712 172.48 172.712 173.411C172.712 173.655 170.32 176.317 167.396 179.326C147.549 199.75 130.393 202.461 110.931 188.248C107.465 185.717 98.0312 176.675 96.6465 174.556C95.9285 173.458 95.9285 173.364 96.6377 172.278C98.0383 170.136 107.477 161.077 110.918 158.573C117.143 154.044 123.166 151.223 129.141 150.039C132.298 149.413 139.087 149.815 142.692 150.841ZM120.332 166.84C122.243 162.692 126.672 158.983 130.906 157.983C135.413 156.919 140.792 158.084 144.337 160.894C154.502 168.948 151.58 184.662 139.201 188.514C131.813 190.813 124.01 187.326 120.486 180.151C119.248 177.632 119.134 177.062 119.134 173.419C119.134 169.919 119.278 169.128 120.332 166.84Z" fill="#24FF00" />
                        </svg>
                    </div>
                }
                @if ((int)ViewData["LISTADESEOS"] == 1)
                {
                    <div class="favBtnDiv">
                        <svg class="favBtn favBtnLike" width="221" height="221" viewBox="0 0 221 221" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M28.7272 0.258206C25.6914 0.679087 22.2007 1.81425 18.7204 3.5124C12.0347 6.77538 7.03544 11.78 3.69068 18.5584C0.0661526 25.9043 0.374694 17.6836 0.374694 106.956C0.374694 196.219 0.06657 188 3.68651 195.353C7.86892 203.849 15.467 210.128 24.9746 212.945C27.1982 213.605 29.9259 213.704 49.5221 213.843L115.392 214L117.635 212.9C120.249 211.618 121.942 209.176 122.276 206.204C122.589 203.419 120.85 200.106 118.281 198.592L116.332 197.443L51.0339 197.22C27.0994 196.971 27.7865 197.053 23.7338 193.981C20.8694 191.809 18.6512 188.74 17.671 185.592C16.8592 182.984 16.8442 181.553 16.8442 106.956C16.8442 32.3584 16.8592 30.9277 17.671 28.3197C19.0777 23.8016 23.2247 19.3713 27.6848 17.6226C29.4356 16.9359 33.1718 16.8782 83.5559 16.762C132.882 16.6479 137.777 16.6972 140.169 17.3338C145.328 18.7076 149.556 22.5043 151.668 27.6618C152.556 29.831 152.562 30.0856 152.769 72.8925C152.958 85.3457 153.042 106.984 153.668 108.121C155.123 110.765 158.053 112.517 160.991 112.5C164.416 112.48 168.13 109.592 169.028 106.25C169.339 105.09 169.436 73.971 169.345 70.9118C169.221 30.9119 169.163 27.997 168.445 25.4546C165.371 14.5652 158.121 6.3428 148.025 2.29365C142.04 -0.106251 143.726 -0.046065 84.4573 0.0220616C54.4937 0.056334 29.4151 0.162495 28.7272 0.258206ZM38.5284 50.7798C31.7851 53.7113 31.8434 63.346 38.6222 66.1852C39.9839 66.7557 45.4326 66.8309 84.6891 66.823C126.853 66.8142 129.3 66.7737 130.883 66.0527C133.708 64.7658 136.087 61.3022 136.087 58.4731C136.087 55.6439 133.708 52.1803 130.883 50.8935C129.299 50.1725 126.869 50.1328 84.5982 50.1395C45.679 50.1457 39.7988 50.2277 38.5284 50.7798ZM38.5284 84.2162C31.7851 87.1477 31.8434 96.7824 38.6222 99.6216C39.9839 100.192 45.4326 100.267 84.6891 100.259C126.853 100.251 129.3 100.21 130.883 99.4891C133.708 98.2022 136.087 94.7386 136.087 91.9095C136.087 89.0803 133.708 85.6167 130.883 84.3299C129.299 83.6089 126.869 83.5692 84.5982 83.5759C45.679 83.5821 39.7988 83.6641 38.5284 84.2162ZM38.5284 117.653C31.7851 120.584 31.8434 130.219 38.6222 133.058C39.9539 133.616 43.4008 133.705 63.69 133.705H87.2133L89.4353 132.541C91.2344 131.599 91.879 130.953 92.8188 129.15C94.3015 126.304 94.3015 124.387 92.8188 121.542C91.879 119.739 91.2344 119.092 89.4353 118.15L87.2133 116.987L63.5991 117.003C43.4509 117.017 39.7709 117.113 38.5284 117.653Z" fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M142.835 209.217L144.243 210.297C148.638 213.665 158.017 219.697 159.209 219.922C161.629 220.378 163.22 219.755 168.534 216.266C192.676 200.416 207.294 185.783 214.881 169.87C221.28 156.447 221.706 144.066 216.153 132.884C212.655 125.839 207.195 120.371 200.085 116.794C194.261 113.864 189.573 112.856 182.975 113.116C174.95 113.431 168.929 115.83 163.455 120.891L161.045 123.118L157.806 120.368C151.264 114.814 145.026 112.492 136.671 112.5C132.5 112.504 131.072 112.686 128.011 113.603C124.089 114.776 121.081 116.164 118.284 118.092L116.544 119.29C110.527 124.242 108.03 127.592 105.261 134.743C104.021 137.071 103.043 143.05 103.033 148.359C103.027 151.35 103.128 155.035 103.298 155.553C103.946 161.882 105.438 165.208 108.32 170.527L110.634 174.619C113.572 179.813 117.971 185.816 122.276 190.506C124.127 192.522 125.642 194.263 125.642 194.375C132.001 200.67 135.779 203.932 142.835 209.217ZM153.871 138.948C150.3 132.424 146.286 128.891 140.818 127.46C136.637 126.365 133.633 126.756 129.285 128.962C125.662 130.799 121.172 135.399 119.451 139.036C113.787 151.012 120.023 167.556 136.457 184.151C142.778 190.534 149.57 196.225 157.365 201.672L160.581 203.918L164.232 201.485C185.711 187.173 199.473 172.085 204.104 157.77C205.675 152.917 205.79 146.399 204.379 142.249C202.029 135.336 196.752 130.356 189.57 128.273C185.84 127.191 180.294 127.555 177.104 129.092C173.617 130.772 170.674 133.915 168.606 138.169C166.712 142.067 166.09 142.791 163.825 143.743C161.697 144.636 159.846 144.546 157.673 143.445C156.097 142.645 155.524 141.968 153.871 138.948Z" fill="black" />
                            <path d="M140.818 127.46C146.286 128.891 150.3 132.424 153.871 138.948C155.524 141.968 156.097 142.645 157.673 143.445C159.846 144.546 161.697 144.636 163.825 143.743C166.09 142.791 166.712 142.067 168.606 138.169C170.674 133.915 173.617 130.772 177.104 129.092C180.294 127.555 185.84 127.191 189.57 128.273C196.752 130.356 202.029 135.336 204.379 142.249C205.79 146.399 205.675 152.917 204.104 157.77C199.473 172.085 185.711 187.173 164.232 201.485L160.581 203.918L157.365 201.672C149.57 196.225 142.778 190.534 136.457 184.151C120.023 167.556 113.787 151.012 119.451 139.036C121.172 135.399 125.662 130.799 129.285 128.962C133.633 126.756 136.637 126.365 140.818 127.46Z" fill="#FF0000" />
                        </svg>
                    </div>
                    <div class="leidoBtnDiv">
                        <svg class="leidoBtn leidoBtnLike" width="192" height="214" viewBox="0 0 192 214" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M29.0734 0.258206C26.0376 0.679087 22.5469 1.81425 19.0666 3.5124C12.3808 6.77538 7.38163 11.78 4.03688 18.5584C0.412344 25.9043 0.720886 17.6836 0.720886 106.956C0.720886 196.219 0.412761 188 4.03271 195.353C8.21511 203.849 15.8132 210.128 25.3208 212.945C27.5444 213.605 30.2721 213.704 49.8682 213.843L71.9135 214L74.1559 212.9C76.7706 211.618 78.4634 209.176 78.7974 206.204C79.1105 203.419 77.3718 200.106 74.8026 198.592L72.8529 197.443L51.3801 197.22C27.4456 196.971 28.1327 197.053 24.08 193.981C21.2156 191.809 18.9974 188.74 18.0172 185.592C17.2054 182.984 17.1903 181.553 17.1903 106.956C17.1903 32.3584 17.2054 30.9277 18.0172 28.3197C19.4239 23.8016 23.5709 19.3713 28.031 17.6226C29.7818 16.9359 33.518 16.8782 83.9021 16.762C133.228 16.6479 138.123 16.6972 140.515 17.3338C145.675 18.7076 149.902 22.5043 152.014 27.6618C152.902 29.831 152.908 30.0856 153.115 72.8925C153.304 111.921 153.389 116.059 154.014 117.196C155.469 119.84 158.399 121.592 161.337 121.575C164.762 121.555 168.476 118.667 169.374 115.325C169.685 114.165 169.783 100.546 169.691 70.9118C169.567 30.9119 169.509 27.997 168.791 25.4546C165.717 14.5652 158.467 6.3428 148.371 2.29365C142.386 -0.106251 144.072 -0.046065 84.8035 0.0220616C54.8399 0.056334 29.7613 0.162495 29.0734 0.258206ZM38.8746 50.7798C32.1313 53.7113 32.1896 63.346 38.9684 66.1852C40.3301 66.7557 45.7788 66.8309 85.0353 66.823C127.199 66.8142 129.646 66.7737 131.229 66.0527C134.055 64.7658 136.433 61.3022 136.433 58.4731C136.433 55.6439 134.055 52.1803 131.229 50.8935C129.645 50.1725 127.215 50.1328 84.9444 50.1395C46.0252 50.1457 40.145 50.2277 38.8746 50.7798ZM38.8746 84.2162C32.1313 87.1477 32.1896 96.7824 38.9684 99.6216C40.3301 100.192 45.7788 100.267 85.0353 100.259C127.199 100.251 129.646 100.21 131.229 99.4891C134.055 98.2022 136.433 94.7386 136.433 91.9095C136.433 89.0803 134.055 85.6167 131.229 84.3299C129.645 83.6089 127.215 83.5692 84.9444 83.5759C46.0252 83.5821 40.145 83.6641 38.8746 84.2162ZM38.8746 117.653C32.1313 120.584 32.1896 130.219 38.9684 133.058C40.3001 133.616 43.747 133.705 64.0361 133.705H87.5595L89.7814 132.541C91.5806 131.599 92.2252 130.953 93.165 129.15C94.6477 126.304 94.6477 124.387 93.165 121.542C92.2252 119.739 91.5806 119.092 89.7814 118.15L87.5595 116.987L63.9453 117.003C43.7971 117.017 40.1171 117.113 38.8746 117.653ZM126.735 133.472C115.589 135.45 105.079 141.002 94.4154 150.543C88.0332 156.253 78.7936 166.962 77.4335 170.226C76.6426 172.123 76.6426 174.698 77.4335 176.596C78.7398 179.73 87.6725 190.152 93.9088 195.818C119.424 219 146.036 219.891 171.67 198.421C178.194 192.956 187.734 182.453 190.555 177.628C192.101 174.983 192.101 171.839 190.555 169.194C187.734 164.369 178.194 153.865 171.67 148.4C163.008 141.146 154.466 136.556 145.402 134.287C140.167 132.977 131.624 132.604 126.735 133.472ZM142.692 150.841C147.294 152.151 152.874 155.087 157.762 158.771C161.887 161.88 172.712 172.48 172.712 173.411C172.712 173.655 170.32 176.317 167.396 179.326C147.549 199.75 130.393 202.461 110.931 188.248C107.465 185.717 98.0312 176.675 96.6465 174.556C95.9285 173.458 95.9285 173.364 96.6377 172.278C98.0383 170.136 107.477 161.077 110.918 158.573C117.143 154.044 123.166 151.223 129.141 150.039C132.298 149.413 139.087 149.815 142.692 150.841ZM130.906 157.983C126.672 158.983 122.243 162.692 120.332 166.84C119.278 169.128 119.134 169.919 119.134 173.419C119.134 177.062 119.248 177.632 120.486 180.151C124.01 187.326 131.813 190.813 139.201 188.514C151.58 184.662 154.502 168.948 144.337 160.894C140.792 158.084 135.413 156.919 130.906 157.983Z" fill="black" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M142.692 150.841C147.294 152.151 152.874 155.087 157.762 158.771C161.887 161.88 172.712 172.48 172.712 173.411C172.712 173.655 170.32 176.317 167.396 179.326C147.549 199.75 130.393 202.461 110.931 188.248C107.465 185.717 98.0312 176.675 96.6465 174.556C95.9285 173.458 95.9285 173.364 96.6377 172.278C98.0383 170.136 107.477 161.077 110.918 158.573C117.143 154.044 123.166 151.223 129.141 150.039C132.298 149.413 139.087 149.815 142.692 150.841ZM120.332 166.84C122.243 162.692 126.672 158.983 130.906 157.983C135.413 156.919 140.792 158.084 144.337 160.894C154.502 168.948 151.58 184.662 139.201 188.514C131.813 190.813 124.01 187.326 120.486 180.151C119.248 177.632 119.134 177.062 119.134 173.419C119.134 169.919 119.278 169.128 120.332 166.84Z" fill="#24FF00" />
                        </svg>
                    </div>
                }
            </div>
        }
        <h1>@Model.NOMBRE_LIBRO</h1>
        <p>@Model.NOMBRE_AUTOR</p>
        <div class="separador"></div>
        <p class="descripcion">
            @Model.DESCRIPCION
        </p>
        <div class="details">
            <details>
                <summary>Detalles</summary>
                <div class="content">
                    <ul>
                        <li>Paginas: @Model.NUM_PAGINAS</li>
                        <li>Fecha de publicacion: @Model.FECHA_PUBLICACION.Value.ToShortDateString()</li>
                        <li>Idioma: @Model.IDIOMA</li>
                        <li><a style="text-decoration:underline !important;" href="@Model.URL_COMPRA" target="_blank">Comprar</a></li>
                        <li>
                            <strong>Disponibilidad:</strong>
                            <ul class="ulbiblio">
                                @foreach (BibliotecaSimple b in biblios)
                                {
                                    <li style="text-decoration:underline !important;"><a asp-action="DetailsBiblioteca" asp-controller="Bibliotecas" asp-route-id="@b.ID_BIBLIOTECA">@b.NOMBRE</a></li>
                                }
                            </ul>
                        </li>
                    </ul>
                </div>

            </details>
        </div>
        <div class="valoraciones">
            <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <title>Rating star</title>
                <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
                </path>
            </svg>
            <p class="nota">@String.Format("{0:0.#}", Model.VALORACION_MEDIA)</p>
            <div class="separador"></div>
            <p class="comentarios">@ViewData["VALORACIONES"] valoraciones</p>
            <div class="separador"></div>
            <p class="comentarios">@comentarios.Count comentarios</p>
        </div>
        @if (Context.User.Identity.Name != null)
        {
            <button class="btnReserva" id="openForm">Reservar ahora</button>
            <div class="fromReserva" style="display:none;">
                <label style="margin-top:0px !important;">Biblioteca</label>
                <select id="idBiblio" name="idBiblio">
                    @foreach (BibliotecaSimple b in (List<BibliotecaSimple>)ViewData["BIBLIOTECAS"])
                    {
                        <option value="@b.ID_BIBLIOTECA">@b.NOMBRE</option>
                    }
                </select>
                <label for="from">From</label>
                <input type="text" id="from" name="from" autocomplete="off">
                <label for="to">to</label>
                <input type="text" id="to" name="to" autocomplete="off">
                <button id="confirmReserva" class="btnReserva">Reservar</button>
            </div>
        }
    </div>

    <h1 class="titulo-comentario" style="position:relative;z-index:4;">Comentarios</h1>

    <div class="list-comentarios" style="position:relative;z-index:4;">
        <div class="comment-box">
            @if (Context.User.Identity.IsAuthenticated == true)
            {
                <div style="width:100%!important; height: 100% !important;border-radius:15px;">
                    <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                        <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                            <input hidden value="@Model.ID_LIBRO" name="idLibro" type="text" readonly />
                            <label for="comment" class="sr-only">Tu comentario</label>
                            <textarea id="comment" rows="4" name="textoComentario"
                                      class="w-full px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
                                      placeholder="Escribe un comentario... | Dejelo vacio para que sea una valoracion"></textarea>
                        </div>
                        <div class="flex items-center justify-between px-3 py-2 border-t dark:border-gray-600">
                            <button id="btnComentario"
                                    class="inline-flex items-center py-2.5 px-4 text-xs font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                                Publicar
                            </button>
                            <div style="width:100%;">
                                <fieldset id="rating">
                                    <span class="star-cb-group">
                                        <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
                                        <input type="radio" id="rating-4" name="rating" value="4" /><label for="rating-4">4</label>
                                        <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
                                        <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
                                        <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
                                        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
                                    </span>
                                </fieldset>
                            </div>
                            <div class="flex pl-0 space-x-1 sm:pl-2">
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @if (comentarios.Count() <= 0)
        {
            <h1 class="titulo-comentario" style="font-size:20px !important;padding:0px;">No hay comentarios</h1>
        }
        else
        {
            @foreach (Comentario com in comentarios)
            {
                string usuario = "@" + com.USUARIO;
                <div class="card-comentaro">
                    <div class="datos-comentario">
                        <p class="usuario-comentario">@usuario</p>
                        <p class="fecha-comentario">@com.FECHA_COMENTARIO.ToShortDateString()</p>
                        <div class="likes" id="likes">
                            @if (com.COMENTARIO_LIKE == null || com.COMENTARIO_LIKE == 0)
                            {
                                <a class='like-button' data-id="@com.ID_COMENTARIO">
                                    <span class='like-icon'>
                                        <div class='heart-animation-1'></div>
                                        <div class='heart-animation-2'></div>
                                    </span>
                                </a>
                            }
                            else
                            {
                                <a class='like-button liked' data-id="@com.ID_COMENTARIO">
                                    <span class='like-icon'>
                                        <div class='heart-animation-1'></div>
                                        <div class='heart-animation-2'></div>
                                    </span>
                                </a>
                            }
                            <p id="numLikes">@com.MEGUSTAS</p>
                        </div>
                    </div>
                    <div class="separador"></div>
                    <p class="descripcion">
                        @com.MENSAJE
                    </p>
                </div>
            }
        }
    </div>
</div>

<style>

    .main {
        background-color: var(--bg-details);
    }

    .ui-datepicker {
        z-index: 10 !important;
    }

    .ulbiblio {
        margin-left: 20px;
        list-style-type: circle;
    }

    .fromReserva {
        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid var(--border);
        background-color: var(--bg-card);
        width: 60%;
        display: flex;
        height: fit-content;
        padding: 20px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--icons);
    }

    .none {
        display: none !important;
    }

    .fromReserva > label {
        width: 50%;
        font-family: "Montserrat";
        font-size: 15px;
        text-align: center;
        margin-top: 20px;
    }

    .fromReserva > input, select {
        width: 50%;
        height: auto;
        font-family: "Montserrat";
        text-align: center;
        color: var(--bg-card);
        border: 0px;
        border-radius: 5px;
    }

    .btnReserva {
        margin-top: 20px;
        width: 150px;
        height: 40px;
        font-family: "Montserrat";
        font-size: 15px;
        font-weight: 700;
        background-color: var(--bg-button-menu);
        border-radius: 10px;
    }

        .btnReserva:hover {
            background-color: var(--bg-button-menu-hover);
        }

    .favBtnDiv {
        height: 40px;
        width: 40px;
        position: absolute;
        margin: 0px;
        left: 30px;
        top: 30px;
        z-index: +2;
    }


        .favBtnDiv > svg {
            height: 40px;
            width: 40px;
        }

    .favBtn > path:last-child {
        fill: transparent;
    }

    .favBtnLike > path:last-child {
        fill: red;
    }

    .leidoBtn > path:last-child {
        fill: transparent;
    }

    .leidoBtnLike > path:last-child {
        fill: #24FF00;
    }

    .leidoBtnDiv {
        height: 40px;
        width: 40px;
        position: absolute;
        margin: 0px;
        right: 30px;
        top: 30px;
        z-index: +2;
    }

        .leidoBtnDiv > svg {
            height: 40px;
            width: 40px;
        }

    @@media (max-width: 800px) {
        .grpBtns {
            width: 90%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .favBtnDiv {
            position: relative;
            right: 0px;
            left: 0px;
            top: 0px;
            float: left;
        }

        .leidoBtnDiv {
            position: relative;
            left: 0px;
            right: 0px;
            top: 0px;
            float: left;
        }

        .fromReserva {
            width: 90%;
        }
    }

</style>
<script src="~/lib/sweetalert.js"></script>
<script>


    $(document).ready(function () {

        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        var fechaActual = new Date();
        var fechaInicio = fechaActual;
        var disabledDates = []


        $(function () {
            var dateFormat = "dd/mm/yy",
                from = $("#from")
                    .datepicker({
                        defaultDate: "+1w",
                        changeMonth: true,
                        numberOfMonths: 2,
                        dateFormat: "dd/mm/yy",
                        minDate: fechaActual,
                        beforeShowDay: function (date) {
                            var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
                            return [disabledDates.indexOf(string) == -1]
                        }
                    })
                    .on("change", function () {
                        to.datepicker("option", "minDate", getDate(this));
                    }),
                to = $("#to").datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 2,
                    dateFormat: "dd/mm/yy",
                    minDate: fechaInicio,
                    beforeShowDay: function (date) {
                        var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
                        return [disabledDates.indexOf(string) == -1]
                    }
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }
                return date;
            }
        });

        function comprobarFechas(fechaInicio, fechaFin, arrayFechas) {
            var fechaInicioObj = fechaInicio.split("/");
            var fechaI = new Date(fechaInicioObj[2], fechaInicioObj[1] - 1, fechaInicioObj[0]);
            var fechaFinObj = fechaFin.split("/");
            var fechaF = new Date(fechaFinObj[2], fechaFinObj[1] - 1, fechaFinObj[0]);


            for (var i = 0; i < arrayFechas.length; i++) {
                var fe = arrayFechas[i].split("/");
                var fecha = new Date(fe[2], fe[1] - 1, fe[0]);

                // Verificar si la fecha está dentro del rango especificado
                if (fecha >= fechaI && fecha <= fechaF) {
                    // Si se encuentra una fecha que está en el rango, devolver false
                    return false;
                }
            }

            // Si se completa la iteración sin encontrar ninguna fecha conflictiva, devolver true
            return true;
        }

        var idLibro = "@Model.ID_LIBRO";
        var urlIni = "@Url.Action("GetDiasReservado","Libros")";
        var idBiblio = $("#idBiblio").val();
        var datos = { id: idLibro, idBiblio: idBiblio }
        $.post(urlIni, datos).done(function (data) {
            disabledDates = data;
        })


        $("#openForm").click(function () {
            $(".fromReserva").toggle(function () {
                var url = "@Url.Action("GetDiasReservado","Libros")";
                $("#idBiblio").change(function () {
                    idBiblio = $(this).val()
                    var data = { id: idLibro, idBiblio: idBiblio }
                    $.post(url, data).done(function (data) {
                        disabledDates = data;
                    })
                })


                $("#confirmReserva").click(function () {
                    var fechaInicio = $("#from").val();
                    var fechaFin = $("#to").val();
                    var idLibro = "@Model.ID_LIBRO"
                    var idBiblio = $("#idBiblio").val()
                    var com = comprobarFechas(fechaInicio, fechaFin, disabledDates);
                    if (fechaInicio == "" || fechaFin == "") {
                        Swal.fire({
                            icon: 'error',
                            text: 'Fechas incorrectas!',
                        })
                        return;
                    }
                    if (com == true) {
                        var datos = {
                            fechaInicio: fechaInicio,
                            fechaFin: fechaFin,
                            idLibro: idLibro,
                            idBiblio: idBiblio,
                        }
                        var ruta = "@Url.Action("ReservarLibro","Libros")";
                        $("#confirmReserva").hide();
                        $.post(ruta, datos).done(function (data) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Reserva realizada con exito!',
                                showConfirmButton: false,
                                timer: 1500
                            }).then((result) => {
                                location.reload();
                            })

                        })
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: 'Fechas incorrectas!',
                        })
                        return;
                    }
                })
            })
        })




        var valor = 0;
        $("input[name='rating']").change(function () {
            // Obtiene el valor del radio button seleccionado
            valor = $(this).val();
        });

        $("#btnComentario").click(function () {

            var url = "@Url.Action("DetailsLibro","Libros")";
            var data = {
                idLibro: '@Model.ID_LIBRO',
                dni: '@Context.User.Identity.Name',
                textoComentario: $("#comment").val(),
                orden: 0,
                rating: valor
            }

            if ($("#comment").val() == "")
                Swal.fire({
                    text: "¿Estas seguro de que quieres crear una reseña (comentario vacio)?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1A56DB',
                    cancelButtonColor: '#FF0000',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.post(url, data).done(function (data) {
                            location.reload();
                        })
                    }
                })



            if ($("#comment").val() != "" && valor != 0) {
                $.post(url, data).done(function (data) {
                    location.reload();
                })
            }

            if (valor == 0)
                Swal.fire({
                    text: "¿Estas seguro de que quieres publicar la reseña con 0 estrellas?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#1A56DB',
                    cancelButtonColor: '#FF0000',
                    confirmButtonText: 'Si',
                    cancelButtonText: 'No'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.post(url, data).done(function (data) {
                            location.reload();
                        })
                    }
                })
        })





        var dniUsuario = '@Context.User.Identity.Name';
        console.log(valor)
        $('a.like-button').on('click', function (e) {

            if (!dniUsuario) {
                Swal.fire({
                    icon: 'error',
                    title: '¡Vaya!',
                    text: 'No has iniciado sesion',
                })
                return;
            } else {
                $(this).toggleClass('liked');
                var url = "@Url.Action("DetailsLibro","Libros")";
                var idC = $(this).data("id")

                if ($(this).hasClass('liked') == true) {
                    var data = { "orden": 2, "id": idC }
                    var numLikesElem = $(this).siblings('#numLikes');
                    var numLikes = parseInt(numLikesElem.text());
                    numLikesElem.text(numLikes + 1);
                } else {
                    var data = { "orden": 1, "id": idC }
                    var numLikesElem = $(this).siblings('#numLikes');
                    var numLikes = parseInt(numLikesElem.text());
                    numLikesElem.text(numLikes - 1);

                }
                $.post(url, data).done(function (data) {

                })
                $('form').trigger("reset");
            }


        });

        $('.favBtnDiv').click(function () {
            $(".favBtn").toggleClass('favBtnLike');
            $(".leidoBtn").removeClass('leidoBtnLike');
            var url = "@Url.Action("AddListaLibro","Libros")";
            var idL = '@Model.ID_LIBRO';
            var data = {
                dni: dniUsuario,
                idLibro: idL,
                orden: 1
            }

            if ($(".favBtn").hasClass('favBtnLike') == true) {
                data.orden = 1;
            } else {
                data.orden = 0;
            }
            $.post(url, data).done(function (data) { })
        })

        $('.leidoBtnDiv').click(function () {
            $(".leidoBtn").toggleClass('leidoBtnLike');
            $(".favBtn").addClass('favBtnLike');
            var dniUsuario = '@Context.User.Identity.Name';
            var url = "@Url.Action("AddListaLibro","Libros")";
            var idL = '@Model.ID_LIBRO';
            var data = {
                dni: dniUsuario,
                idLibro: idL,
                orden: 1
            }
            if ($(".leidoBtn").hasClass('leidoBtnLike') == true) {
                data.orden = 2;
            } else {
                data.orden = 1;
            }
            $.post(url, data).done(function (data) { })
        })


    })
</script>
<script>
    class Accordion {
        constructor(el) {
            // Store the <details> element
            this.el = el;
            // Store the <summary> element
            this.summary = el.querySelector('summary');
            // Store the <div class="content"> element
            this.content = el.querySelector('.content');

            // Store the animation object (so we can cancel it if needed)
            this.animation = null;
            // Store if the element is closing
            this.isClosing = false;
            // Store if the element is expanding
            this.isExpanding = false;
            // Detect user clicks on the summary element
            this.summary.addEventListener('click', (e) => this.onClick(e));
        }

        onClick(e) {
            // Stop default behaviour from the browser
            e.preventDefault();
            // Add an overflow on the <details> to avoid content overflowing
            this.el.style.overflow = 'hidden';
            // Check if the element is being closed or is already closed
            if (this.isClosing || !this.el.open) {
                this.open();
                // Check if the element is being openned or is already open
            } else if (this.isExpanding || this.el.open) {
                this.shrink();
            }
        }

        shrink() {
            // Set the element as "being closed"
            this.isClosing = true;

            // Store the current height of the element
            const startHeight = `${this.el.offsetHeight}px`;
            // Calculate the height of the summary
            const endHeight = `${this.summary.offsetHeight}px`;

            // If there is already an animation running
            if (this.animation) {
                // Cancel the current animation
                this.animation.cancel();
            }

            // Start a WAAPI animation
            this.animation = this.el.animate({
                // Set the keyframes from the startHeight to endHeight
                height: [startHeight, endHeight]
            }, {
                duration: 400,
                easing: 'ease-out'
            });

            // When the animation is complete, call onAnimationFinish()
            this.animation.onfinish = () => this.onAnimationFinish(false);
            // If the animation is cancelled, isClosing variable is set to false
            this.animation.oncancel = () => this.isClosing = false;
        }

        open() {
            // Apply a fixed height on the element
            this.el.style.height = `${this.el.offsetHeight}px`;
            // Force the [open] attribute on the details element
            this.el.open = true;
            // Wait for the next frame to call the expand function
            window.requestAnimationFrame(() => this.expand());
        }

        expand() {
            // Set the element as "being expanding"
            this.isExpanding = true;
            // Get the current fixed height of the element
            const startHeight = `${this.el.offsetHeight}px`;
            // Calculate the open height of the element (summary height + content height)
            const endHeight = `${this.summary.offsetHeight + this.content.offsetHeight}px`;

            // If there is already an animation running
            if (this.animation) {
                // Cancel the current animation
                this.animation.cancel();
            }

            // Start a WAAPI animation
            this.animation = this.el.animate({
                // Set the keyframes from the startHeight to endHeight
                height: [startHeight, endHeight]
            }, {
                duration: 400,
                easing: 'ease-out'
            });
            // When the animation is complete, call onAnimationFinish()
            this.animation.onfinish = () => this.onAnimationFinish(true);
            // If the animation is cancelled, isExpanding variable is set to false
            this.animation.oncancel = () => this.isExpanding = false;
        }

        onAnimationFinish(open) {
            // Set the open attribute based on the parameter
            this.el.open = open;
            // Clear the stored animation
            this.animation = null;
            // Reset isClosing & isExpanding
            this.isClosing = false;
            this.isExpanding = false;
            // Remove the overflow hidden and the fixed height
            this.el.style.height = this.el.style.overflow = '';
        }
    }

    document.querySelectorAll('details').forEach((el) => {
        new Accordion(el);
    });
</script>