@model List<LibroDisponibilidad>

<link rel="stylesheet" href="~/css/EstiloLibros.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

<div class="temp">
    <p class="titulo">Libros</p>
    <div>
        <form method="post">
            <div class="search">
                <input name="input" type="text" placeholder="Buscar" />
                <select name="option" id="filtro">
                    <option value="T">Título</option>
                    <option value="A">Autor</option>
                </select>
                <button id="send-search">Buscar</button>
            </div>
        </form>
    </div>
    <div style="margin:auto; width:90%;position:relative;">
        @if (Model.Count() == 0)
        {
            <div class="contenido-texto">
                <div class="texto" style="margin: auto" class="text-center">
                    <h4>No se han encontrado libros</h4>
                </div>
            </div>
        }
        else
        {
            @foreach (LibroDisponibilidad l in Model)
            {
                <div class="card-libro-color card-libro">
                    <div class="imagen-libro">
                        @if (@l.IMAGEN == null)
                        {
                            <img src="~/imgs/ImgNull.jpg" alt="">
                        }
                        else
                        {
                            <img src="~/imgs/libros/@l.IMAGEN" alt="">
                        }
                    </div>
                    <div class="contenido-libro">
                        <div class="titulo-autor">
                            <p class="titulo-libro">@l.NOMBRE_LIBRO</p>
                            <p class="autor-libro">Autor: @l.NOMBRE_AUTOR</p>
                        </div>
                        <div class="separator-card"></div>
                        <div class="paginas-valoracion">
                            <p class="n-paginas">Paginas: @l.NUM_PAGINAS</p>
                            <div class="valoracion">
                                <svg width="512" height="492" viewBox="0 0 512 492" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M247.5 0.976C236.815 3.335 226.725 9.054 220.365 16.355C218.081 18.978 207.073 40.083 190.381 73.841C175.876 103.178 163.114 128.435 162.023 129.967C160.932 131.5 158.496 133.486 156.609 134.381C154.533 135.366 130.016 139.382 94.486 144.557C57.595 149.93 33.842 153.836 30.541 155.071C2.407 165.597 -8.64 200.065 8.047 225.257C9.703 227.758 30.058 248.286 53.279 270.874C76.501 293.463 96.135 312.966 96.91 314.215C100.359 319.768 100.16 321.665 89.861 381.426C81.313 431.032 79.917 440.667 80.287 447.5C81.323 466.615 93.338 482.43 111.898 489.112C117.154 491.003 120.335 491.464 127.5 491.371C139.087 491.22 141.693 490.205 173.33 473.528C259.657 428.018 253.489 430.924 259.75 432.818C261.813 433.441 286.225 445.895 314 460.493C341.775 475.09 366.975 487.983 370 489.144C378.167 492.277 391.348 492.263 400.102 489.112C413.394 484.326 424.191 473.956 429.033 461.324C433.503 449.663 433.22 446.405 422.077 381.343C412.302 324.266 411.998 322.035 413.419 317.911C414.632 314.391 419.882 308.79 443.196 286.148C497.531 233.377 503.547 227.133 506.949 219.978C508.643 216.415 510.307 211.803 510.646 209.728C510.985 207.653 511.654 205.714 512.131 205.419C512.609 205.124 513 201.957 513 198.382C513 194.807 512.6 192.129 512.112 192.431C511.624 192.733 510.925 190.983 510.559 188.543C508.812 176.896 497.935 163.03 485.909 157.121C478.081 153.274 477.825 153.228 410.933 143.544C382.572 139.437 358.497 135.762 357.433 135.376C351.008 133.044 350.134 131.553 323.308 77.157C308.801 47.743 295.288 21.436 293.278 18.697C288.499 12.187 279.613 5.73 271.777 3.074C264.617 0.647001 253.386 -0.323 247.5 0.976ZM250.604 31.038C244.347 32.911 242.203 36.554 215.019 91.5C186.268 149.615 184.882 151.889 173.845 159.022C170.725 161.038 165.546 163.41 162.336 164.292C159.126 165.175 137.375 168.654 114 172.024C43.026 182.256 41.276 182.556 37.422 185.165C33.34 187.927 30 194.224 30 199.158C30 201.098 31.013 204.524 32.25 206.771C33.568 209.165 51.946 227.848 76.627 251.886C99.798 274.452 120.138 295.003 121.828 297.554C126.533 304.657 129.27 314.02 129.24 322.905C129.223 327.886 125.909 349.592 119.607 385.979C114.323 416.493 110 443.178 110 445.279C110 455.352 121.326 464.033 130.75 461.182C132.813 460.559 157.225 448.105 185 433.507C212.775 418.91 237.975 406.01 241 404.842C248.855 401.808 263.244 401.849 271.244 404.928C274.403 406.144 299.603 419.045 327.244 433.597C354.885 448.149 379.188 460.564 381.25 461.186C390.674 464.027 402 455.35 402 445.289C402 443.193 397.675 416.508 392.389 385.989C386.066 349.481 382.771 327.902 382.756 322.905C382.73 314.031 385.47 304.653 390.153 297.583C391.833 295.047 412.173 274.504 435.354 251.933C460.343 227.599 478.416 209.223 479.75 206.789C482.626 201.543 482.604 196.458 479.682 190.932C475.579 183.172 475.235 183.086 412 173.997C380.925 169.531 352.874 165.159 349.664 164.282C346.454 163.405 341.279 161.032 338.164 159.008C326.86 151.662 325.826 149.97 297.011 91.64C279.293 55.774 269.267 36.565 267.307 34.73C262.774 30.486 256.837 29.173 250.604 31.038ZM0.328 199.5C0.333 203.35 0.513 204.802 0.73 202.728C0.946 200.653 0.943 197.503 0.722 195.728C0.501 193.952 0.324 195.65 0.328 199.5Z" fill="black" />
                                </svg>
                                <p>@String.Format("{0:0.#}", l.VALORACION_MEDIA)</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-libro">
                        <a asp-route-id="@l.ID_LIBRO" asp-action="DetailsLibro" asp-controller="Libros">
                            <svg width="231" height="231" viewBox="0 0 231 231" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M115.837 230.313C52.3135 230.313 0.680664 178.68 0.680664 115.156C0.680664 51.6329 52.3135 0 115.837 0C179.36 0 230.993 51.6329 230.993 115.156C230.993 178.68 179.36 230.313 115.837 230.313ZM115.837 16.0683C61.2046 16.0683 16.749 60.524 16.749 115.156C16.749 169.789 61.2046 214.244 115.837 214.244C170.469 214.244 214.925 169.789 214.925 115.156C214.925 60.524 170.469 16.0683 115.837 16.0683Z" fill="black" />
                                <path d="M102.336 161.007C100.301 161.007 98.2654 160.257 96.6586 158.65C93.552 155.543 93.552 150.402 96.6586 147.295L128.795 115.158L96.6586 83.0213C93.552 79.9147 93.552 74.7729 96.6586 71.6663C99.7651 68.5598 104.907 68.5598 108.014 71.6663L145.828 109.481C148.934 112.587 148.934 117.729 145.828 120.836L108.014 158.65C106.407 160.257 104.371 161.007 102.336 161.007Z" fill="black" />
                            </svg>
                        </a>
                    </div>
                </div>
            }
        }


    </div>

</div>






<style>
    .contenido-texto {
        margin-top: 40px;
        align-content: center;
        justify-content: center;
        display: flex;
    }

    .texto {
        width: 80%;
        padding-top: 60px;
        padding-bottom: 60px;
        height: auto;
        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        color: var(--icons);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        font-size: 3vw;
        line-height: 105px;
    }

    .temp {
        width: 100%;
        height: 100vh;
    }

    .titulo {
        margin: auto;
        padding-top: 20px;
    }

    form {
        width: 100%;
        height: fit-content;
        padding-top: 20px;
        background-color: transparent;
    }

    .search {
        position: unset !important;
    }
</style>

