@model List<Biblioteca>
@{
    Layout = "_LayoutAdministrador";
    DateTime fechaActual = DateTime.Now;
}

<div class="contenido-perfil temp">
    <div class="card-info">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a class="inline-flex items-center text-sm font-medium" asp-action="Index" asp-controller="Home">
                        <svg class="svg-leyenda" width="20" height="20" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.7721 39.9564H9.22791C4.13023 39.9564 0 35.8076 0 30.7099V16.9238C0 14.3935 1.56279 11.2122 3.57209 9.64936L13.6 1.83541C16.614 -0.508767 21.4326 -0.620395 24.5581 1.57495L36.0558 9.63076C38.2698 11.1749 40 14.4866 40 17.1843V30.7285C40 35.8076 35.8698 39.9564 30.7721 39.9564ZM15.3116 4.03076L5.28372 11.8447C3.96279 12.8866 2.7907 15.2494 2.7907 16.9238V30.7099C2.7907 34.2634 5.67442 37.1657 9.22791 37.1657H30.7721C34.3256 37.1657 37.2093 34.282 37.2093 30.7285V17.1843C37.2093 15.3982 35.9256 12.9238 34.4558 11.9191L22.9581 3.86332C20.8372 2.37495 17.3395 2.44936 15.3116 4.03076Z" fill="#292D32" />
                            <path d="M19.9998 32.5144C19.2371 32.5144 18.6045 31.8819 18.6045 31.1191V25.5377C18.6045 24.7749 19.2371 24.1423 19.9998 24.1423C20.7626 24.1423 21.3952 24.7749 21.3952 25.5377V31.1191C21.3952 31.8819 20.7626 32.5144 19.9998 32.5144Z" fill="#292D32" />
                        </svg>
                        Inicio
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        <a class="inline-flex items-center text-sm font-medium" asp-action="Admin_panel" asp-controller="Administracion">
                            <svg width="40" height="40" class="svg-leyenda" viewBox="0 0 492 466" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M245.32 318.072C198.082 318.072 159.743 279.734 159.743 232.495C159.743 185.257 198.082 146.918 245.32 146.918C292.558 146.918 330.897 185.257 330.897 232.495C330.897 279.734 292.558 318.072 245.32 318.072ZM245.32 181.149C217.023 181.149 193.974 204.198 193.974 232.495C193.974 260.793 217.023 283.841 245.32 283.841C273.617 283.841 296.666 260.793 296.666 232.495C296.666 204.198 273.617 181.149 245.32 181.149Z" fill="white" />
                                <path d="M318.574 465.031C313.782 465.031 308.99 464.347 304.197 463.206C290.049 459.326 278.182 450.426 270.651 437.875L267.913 433.311C254.449 410.034 235.964 410.034 222.5 433.311L219.99 437.647C212.459 450.426 200.592 459.554 186.444 463.206C172.067 467.085 157.233 465.031 144.682 457.501L105.431 434.908C91.5102 426.921 81.4692 413.913 77.1333 398.167C73.0256 382.421 75.0795 366.219 83.0666 352.298C89.6846 340.66 91.5102 330.162 87.6307 323.544C83.7513 316.926 73.9384 313.047 60.4743 313.047C27.1564 313.047 0 285.89 0 252.572V212.408C0 179.09 27.1564 151.934 60.4743 151.934C73.9384 151.934 83.7513 148.055 87.6307 141.437C91.5102 134.819 89.9128 124.321 83.0666 112.683C75.0795 98.7623 73.0256 82.3315 77.1333 66.8136C81.241 51.0674 91.282 38.0597 105.431 30.0726L144.91 7.48025C170.697 -7.80949 204.7 1.09051 220.218 27.3341L222.956 31.8982C236.42 55.1751 254.905 55.1751 268.369 31.8982L270.879 27.5623C286.397 1.09051 320.4 -7.80949 346.415 7.70846L385.666 30.3008C399.587 38.2879 409.628 51.2956 413.964 67.0418C418.072 82.7879 416.018 98.9905 408.031 112.911C401.413 124.549 399.587 135.047 403.467 141.665C407.346 148.283 417.159 152.162 430.623 152.162C463.941 152.162 491.097 179.319 491.097 212.637V252.801C491.097 286.119 463.941 313.275 430.623 313.275C417.159 313.275 407.346 317.154 403.467 323.772C399.587 330.39 401.184 340.888 408.031 352.526C416.018 366.447 418.3 382.878 413.964 398.395C409.856 414.142 399.815 427.149 385.666 435.136L346.187 457.729C337.515 462.521 328.159 465.031 318.574 465.031ZM245.32 380.595C265.631 380.595 284.572 393.375 297.579 415.967L300.09 420.303C302.828 425.095 307.392 428.519 312.869 429.888C318.346 431.257 323.823 430.572 328.387 427.834L367.867 405.013C373.8 401.59 378.364 395.885 380.19 389.039C382.015 382.193 381.102 375.119 377.679 369.185C364.672 346.821 363.074 323.772 373.115 306.201C383.156 288.629 403.923 278.588 429.938 278.588C444.543 278.588 456.182 266.949 456.182 252.344V212.18C456.182 197.803 444.543 185.937 429.938 185.937C403.923 185.937 383.156 175.896 373.115 158.324C363.074 140.752 364.672 117.703 377.679 95.3392C381.102 89.4059 382.015 82.3315 380.19 75.4854C378.364 68.6392 374.028 63.1623 368.095 59.511L328.615 36.9187C318.802 30.9854 305.795 34.4084 299.861 44.4495L297.351 48.7854C284.343 71.3777 265.402 84.1571 245.092 84.1571C224.782 84.1571 205.841 71.3777 192.833 48.7854L190.323 44.2213C184.618 34.6366 171.838 31.2136 162.026 36.9187L122.546 59.7392C116.613 63.1623 112.049 68.8674 110.223 75.7136C108.397 82.5597 109.31 89.6341 112.733 95.5674C125.741 117.931 127.338 140.98 117.297 158.552C107.256 176.124 86.4897 186.165 60.4743 186.165C45.8692 186.165 34.2308 197.803 34.2308 212.408V252.572C34.2308 266.949 45.8692 278.816 60.4743 278.816C86.4897 278.816 107.256 288.857 117.297 306.429C127.338 324.001 125.741 347.049 112.733 369.413C109.31 375.347 108.397 382.421 110.223 389.267C112.049 396.113 116.385 401.59 122.318 405.242L161.797 427.834C166.59 430.801 172.295 431.485 177.544 430.116C183.02 428.747 187.585 425.095 190.551 420.303L193.061 415.967C206.069 393.603 225.01 380.595 245.32 380.595Z" fill="white" />
                            </svg>

                            Administracion
                        </a>
                    </div>
                </li>
                <li aria-current="page">
                    <div class="flex items-center">
                        <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                        <svg width="40" height="40" class="svg-leyenda activo" viewBox="0 0 211 210" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M53.2106 0.717004C51.3484 1.52454 50.0354 2.77437 49.0688 4.65916C48.3494 6.0623 48.2888 7.21334 48.2888 19.5046V32.8289L27.2806 32.9454L6.27245 33.0622L4.7078 34.0349C3.84698 34.5699 2.64798 35.7557 2.04335 36.6694L0.943552 38.3312V121.369V204.407L1.91628 205.971C2.45122 206.832 3.63711 208.031 4.55081 208.636L6.2126 209.736H105.714H205.216L206.943 208.506C208.448 207.434 209.237 206.334 210.687 203.285C210.873 202.894 210.98 165.725 210.925 120.687C210.825 39.5721 210.823 39.3085 210.615 92.7048C210.5 122.352 210.361 146.359 210.305 146.054C210.203 145.486 158.142 33.6525 156.083 29.5779C154.11 25.6735 152.012 24.249 148.23 24.249C146.397 24.249 144.213 25.1541 129.441 32.0374C120.249 36.321 112.524 39.8258 112.277 39.8258C111.956 39.8258 111.826 34.9613 111.826 23.0029C111.826 7.27319 111.775 6.08115 111.046 4.65916C110.06 2.73625 108.744 1.50609 106.812 0.698557C104.555 -0.244248 55.3885 -0.227441 53.2106 0.717004ZM64.6854 88.6057V160.751H80.0572H95.429V88.6057V16.4606H80.0572H64.6854V88.6057ZM0.939453 121.399C0.939453 166.602 0.987413 185.095 1.04603 162.493C1.10465 139.891 1.10465 102.907 1.04603 80.3049C0.987413 57.703 0.939453 76.1955 0.939453 121.399ZM129.7 49.997C121.623 53.7666 114.99 56.9934 114.958 57.1677C114.869 57.653 161.591 157.855 161.912 157.869C162.286 157.885 190.632 144.728 191.088 144.326C191.284 144.155 180.884 121.356 167.977 93.6624C155.072 65.9685 144.483 43.2724 144.448 43.2264C144.412 43.1805 137.776 46.2274 129.7 49.997ZM17.1352 105.002V160.751H32.712H48.2888V105.002V49.2538H32.712H17.1352V105.002ZM111.838 125.396L111.826 160.751H128.451C137.595 160.751 144.992 160.613 144.887 160.443C144.783 160.274 137.469 144.641 128.633 125.703C119.798 106.765 112.407 90.9935 112.21 90.6553C112.002 90.2999 111.845 104.951 111.838 125.396ZM210.205 150.441C210.205 150.858 209.638 151.984 208.944 152.941C207.86 154.437 206.805 155.107 201.463 157.686L195.243 160.689L199.343 160.723C201.597 160.741 204.146 160.951 205.006 161.19C206.917 161.721 209.626 164.339 210.152 166.166C210.43 167.126 210.552 164.947 210.578 158.599C210.598 153.695 210.523 149.683 210.41 149.683C210.298 149.683 210.205 150.024 210.205 150.441ZM17.1352 185.346V193.544H105.677H194.219V185.346V177.147H105.677H17.1352V185.346Z" fill="white" />
                        </svg>
                        <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Bibliotecas</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
    <div class="card-perfil" style="text-align: center; margin-top:auto">
        <h1 class="title">Bibliotecas</h1>
        <a asp-action="NuevaBiblioteca" asp-controller="Administracion" class="new">
            <svg width="20" height="20" viewBox="0 0 295 295" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M278.108 163.593H16.3593C7.41623 163.593 0 156.177 0 147.234C0 138.291 7.41623 130.875 16.3593 130.875H278.108C287.052 130.875 294.468 138.291 294.468 147.234C294.468 156.177 287.052 163.593 278.108 163.593Z" fill="white" />
                <path d="M147.234 294.468C138.291 294.468 130.875 287.052 130.875 278.108V16.3593C130.875 7.41623 138.291 0 147.234 0C156.177 0 163.594 7.41623 163.594 16.3593V278.108C163.594 287.052 156.177 294.468 147.234 294.468Z" fill="white" />
            </svg>
            <p>Nueva biblioteca</p>
        </a>
        <input type="search" class="light-table-filter" data-table="order-table" placeholder="Buscar por Nombre" />
        <div class="div-tabla">
            <table class="order-table table" style="width: 100%; border-spacing: 20px;">
                <thead>
                    <tr class="thead">
                        <td>Nombre</td>
                        <td>Direccion</td>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="tbody">
                    @foreach (Biblioteca b in Model)
                    {
                        <tr id="idPres-@b.ID_BIBLIOTECA">
                            <td>@b.NOMBRE</td>
                            <td>@b.DIRECCION</td>
                            <td>
                                <a asp-action="EditarBiblioteca" asp-controller="Administracion" asp-route-id="@b.ID_BIBLIOTECA">
                                    <svg width="26" height="26" viewBox="0 0 281 281" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M192.764 10H88.3273C36.1091 10 10 36.1091 10 88.3273V258.036C10 265.216 15.8745 271.091 23.0545 271.091H192.764C244.982 271.091 271.091 244.982 271.091 192.764V88.3273C271.091 36.1091 244.982 10 192.764 10Z" stroke="#1E82FF" stroke-width="19.5818" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M152.422 86.2373L84.6693 153.99C82.0584 156.601 79.578 161.692 79.0558 165.348L75.4005 191.196C74.0951 200.595 80.6224 207.122 90.0216 205.817L115.869 202.162C119.524 201.639 124.616 199.159 127.227 196.548L194.98 128.795C206.598 117.176 212.212 103.6 194.98 86.3679C177.748 69.0053 164.171 74.4883 152.422 86.2373Z" stroke="#1E82FF" stroke-width="19.5818" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M142.764 95.8969C148.508 116.392 164.565 132.58 185.191 138.324" stroke="#1E82FF" stroke-width="19.5818" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </td>
                            <td class="btnBorrar" data-id="@b.ID_BIBLIOTECA">
                                <svg width="26" height="26" viewBox="0 0 262 288" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M251.134 73.3836C250.866 73.3836 250.464 73.3836 250.062 73.3836C179.223 66.2862 108.517 63.608 38.4807 70.7053L11.1626 73.3836C5.53831 73.9192 0.583558 69.9019 0.0479095 64.2775C-0.487739 58.6532 3.52963 53.8324 9.02002 53.2968L36.3381 50.6185C107.58 43.3873 179.758 46.1994 252.071 53.2968C257.561 53.8324 261.579 58.7872 261.043 64.2775C260.641 69.5001 256.222 73.3836 251.134 73.3836Z" fill="#FF3131" />
                                    <path d="M83.7575 59.8587C83.2218 59.8587 82.6862 59.8587 82.0166 59.7248C76.6601 58.7874 72.9106 53.5648 73.848 48.2084L76.794 30.6659C78.9366 17.8103 81.8827 0 113.084 0H148.169C179.504 0 182.45 18.4799 184.459 30.7998L187.405 48.2084C188.342 53.6988 184.593 58.9213 179.236 59.7248C173.746 60.6622 168.523 56.9126 167.72 51.5562L164.774 34.1476C162.899 22.4972 162.497 20.2207 148.303 20.2207H113.218C99.0234 20.2207 98.7556 22.0955 96.7469 34.0137L93.6669 51.4223C92.8635 56.377 88.5783 59.8587 83.7575 59.8587Z" fill="#FF3131" />
                                    <path d="M173.607 287.912H87.6358C40.9005 287.912 39.0257 262.067 37.5527 241.177L28.8484 106.327C28.4466 100.837 32.7318 96.016 38.2222 95.6143C43.8465 95.3465 48.5335 99.4978 48.9352 104.988L57.6395 239.838C59.1125 260.193 59.6482 267.826 87.6358 267.826H173.607C201.729 267.826 202.265 260.193 203.604 239.838L212.308 104.988C212.71 99.4978 217.531 95.3465 223.021 95.6143C228.511 96.016 232.797 100.703 232.395 106.327L223.691 241.177C222.218 262.067 220.343 287.912 173.607 287.912Z" fill="#FF3131" />
                                    <path d="M152.847 214.259H108.255C102.764 214.259 98.2109 209.706 98.2109 204.216C98.2109 198.726 102.764 194.173 108.255 194.173H152.847C158.338 194.173 162.891 198.726 162.891 204.216C162.891 209.706 158.338 214.259 152.847 214.259Z" fill="#FF3131" />
                                    <path d="M164.094 160.694H97.1381C91.6477 160.694 87.0947 156.141 87.0947 150.651C87.0947 145.161 91.6477 140.608 97.1381 140.608H164.094C169.585 140.608 174.138 145.161 174.138 150.651C174.138 156.141 169.585 160.694 164.094 160.694Z" fill="#FF3131" />
                                </svg>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/lib/sweetalert.js"></script>
<style>
    .temp {
        height: 90vh;
        margin: 0px;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        overflow-clip-margin: 20px;
    }

    .new {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: var(--button);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 20px;
        color: white;
        gap: 10px;
        font-family: "Poppins"
    }

    .card-perfil {
        max-width: 1000px;
    }

    @@media(max-width: 600px) {
        .card-perfil {
            width: 90%;
            padding: 40px 10px;
        }

        .title {
            font-size: 40px;
            width: 90%;
        }
    }

    .div-tabla {
        width: 100%;
        overflow: hidden;
        overflow: auto;
    }

    .table {
        margin: auto;
        border-collapse: collapse;
        font-family: "Poppins";
        font-weight: 400;
        font-size: 15px;
        color: var(--text);
        overflow-x: auto;
    }

    .thead {
        font-weight: bold;
        font-size: 18px;
        position: sticky;
        top: 0px;
        background-color: rgb(65, 65, 65);
    }

        .thead > td {
            padding: 0px;
            height: fit-content;
            min-width: 130px;
            color: white;
        }

        .thead > :first-child {
            border-radius: 15px 0 0 15px;
        }

        .thead > :last-child {
            border-radius: 0 15px 15px 0;
        }

    .tbody > tr {
        height: 30px;
    }

        .tbody > tr > td {
            max-width: 250px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .tbody > tr:nth-child(even) {
            background-color: var(--bg-table-stripp);
            border-radius: 15px;
        }

        .tbody > tr > td:first-child {
            border-radius: 15px 0 0 15px;
        }

        .tbody > tr > td:last-child {
            border-radius: 0 15px 15px 0;
        }

</style>
<script>
    $(document).ready(function () {
        $(".btnBorrar").click(function () {
            var idPres = $(this).data("id")
            var str = "#idPres-" + idPres
            Swal.fire({
                title: 'Eliminar',
                text: "¿Estas seguro que deseas eliminar la biblioteca?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si',
                cancelButtonText: 'No'
            }).then((result) => {
                if (result.isConfirmed) {
                    var url = "@Url.Action("EliminarBiblioteca","Administracion")"
                    var data = { id: idPres }
                    $.post(url, data).done(function (data) {
                        Swal.fire({
                            icon: 'success',
                            title: 'La biblioteca ha sido eliminada',
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $(str).fadeOut("fast")
                    })
                }
            })

        })
    })
</script>
<script>
    (function (document) {
        'use strict';

        var LightTableFilter = (function (Arr) {

            var _input;

            function _onInputEvent(e) {
                _input = e.target;
                var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
                Arr.forEach.call(tables, function (table) {
                    Arr.forEach.call(table.tBodies, function (tbody) {
                        Arr.forEach.call(tbody.rows, _filter);
                    });
                });
            }

            function _filter(row) {
                var text = row.cells[0].textContent.toLowerCase(), val = _input.value.toLowerCase();
                row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';
            }

            return {
                init: function () {
                    var inputs = document.getElementsByClassName('light-table-filter');
                    Arr.forEach.call(inputs, function (input) {
                        input.oninput = _onInputEvent;
                    });
                }
            };
        })(Array.prototype);

        document.addEventListener('readystatechange', function () {
            if (document.readyState === 'complete') {
                LightTableFilter.init();
            }
        });

    })(document);
</script>