@model Autor
@{
    Layout = "_LayoutAdministrador";
}



<div class="contenido-perfil temp">
    <div style="width:100%; display:flex;justify-content:center;align-items:center;">
       
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="card-perfil" style="margin-top: 0; text-align: center;">
            <h1 class="title">Editar autor</h1>
            <input type="number" value="@Model.ID_AUTOR" name="id" hidden readonly>
            <label for="">Nombre:</label>
            <input type="text" name="nombre" value="@Model.NOMBRE">
            <label for="">Nacionalidad:</label>
            <input type="text" name="nacionalidad" value="@Model.NACIONALIDAD">
            <label for="">Fecha de nacimiento:</label>
            <input type="date" name="fechaNac" value="@Model.FECHA_NACIMIENTO">
            <label for="">Imagen:</label>
            <input type="file" name="imagen" accept=".jpg, .jpeg, .png, .svg, .webp">
            <input hidden type="text" name="nImagen" value="@Model.IMAGEN" />
            <label for="">Historia:</label>
            <textarea rows="4" name="descripcion">@Model.HISTORIA</textarea>
            <label for="">Numero de libros:</label>
            <input type="number" name="numLibros" value="@Model.NUM_LIBROS">
            <label for="">Wiki:</label>
            <input type="text" name="wiki" value="@Model.WIKI">
            <button class="boton">Modificar</button>
        </div>
    </form>

</div>

<style>
    .temp {
        height: 90vh;
        margin: 0px;
        padding: 0px;
        margin-top: 5vh;
    }

    form {
        width: 100%;
        height: fit-content;
        background-color: transparent;
    }
    
    textarea{
        width:70%;
        font-family: "Poppins";
        border: 1px solid var(--border);
        color:var(--text);
        background: var(--bg-card);
        box-shadow: 0px 4px 10px -4px rgb(0 0 0 / 25%);
        border-radius: 10px;
        margin-top: 5px;
        margin-bottom: 20px;
    }

</style>